/* Scss Document */
@font-face {
  font-family: 'HelveticaNeueLT-Com-57-Cn';
  src: url("../fonts/HelveticaNeueLTCom-Cn.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/HelveticaNeueLTCom-Cn.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueLTCom-Cn.woff") format("woff"), url("../fonts/HelveticaNeueLTCom-Cn.ttf") format("truetype"), url("../fonts/HelveticaNeueLTCom-Cn.svg#1bfe3908464079d33e43d1bde3a33e17") format("svg");
  /* Legacy iOS */
  font-style: normal;
  font-weight: 400;
}
/* Scss Document */
/* room and ap colors*/
/* Scss Document */
/* line 21, ../components/sass/style.scss */
body {
  color: #4d4d4d;
}

/*.box .owl-theme .owl-controls {
	position: relative;
left: 170px;
top: -340px;
margin-top: 0;
}
*/
/* line 32, ../components/sass/style.scss */
.owl-rooms-aps .owl-item {
  max-height: 350px;
}

/* line 35, ../components/sass/style.scss */
.owl-rooms-aps .owl-item img {
  width: 100%;
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
}

/* line 40, ../components/sass/style.scss */
.owl-rooms-aps .item {
  height: 212px;
  border-radius: 12px;
}

/* line 44, ../components/sass/style.scss */
.padding-zero {
  padding: 0px;
}

/* line 48, ../components/sass/style.scss */
.padding-right-zero {
  padding-right: 0px;
  padding-left: 0px;
}

/* line 52, ../components/sass/style.scss */
.navbar-toggle {
  margin-left: 0px;
  height: 42px;
  margin-top: 9px;
}

/* line 59, ../components/sass/style.scss */
.navmenu, .navbar-offcanvas {
  width: 240px;
}

/* line 63, ../components/sass/style.scss */
.navbar-default .navbar-toggle {
  float: left;
  border: 2px solid solid;
  border-radius: 8px;
}

/* line 68, ../components/sass/style.scss */
.navbar {
  height: 60px;
}

/* line 71, ../components/sass/style.scss */
.navbar-brand {
  height: 40px;
  padding-top: 9px;
  padding-left: 15px;
  margin-right: 0px;
}

/* line 77, ../components/sass/style.scss */
.navbar-nav {
  margin: 10px 0px;
}

/* navbar icons */
/* line 81, ../components/sass/style.scss */
.navbar-right {
  float: right;
}

/* line 84, ../components/sass/style.scss */
.navbarIcons {
  text-indent: -3000px;
}
/* line 87, ../components/sass/style.scss */
.navbarIcons li {
  background-repeat: no-repeat !important;
  width: 40px;
  margin-right: 0;
  background-size: 164px 42px;
  float: left;
}
/* line 95, ../components/sass/style.scss */
.navbarIcons li.phone {
  background: url(../images/aventura-mobil-nav-icons-sprite.svg);
  background-position: -1px center;
}
/* line 99, ../components/sass/style.scss */
.navbarIcons li.skype {
  background: url(../images/aventura-mobil-nav-icons-sprite.svg);
  background-position: -41px center;
}
/* line 103, ../components/sass/style.scss */
.navbarIcons li.email {
  background: url(../images/aventura-mobil-nav-icons-sprite.svg);
  margin-right: -5px;
  background-position: -82px center;
}
/* line 108, ../components/sass/style.scss */
.navbarIcons li.google {
  background: url(../images/aventura-mobil-nav-icons-sprite.svg);
  background-position: -123px center;
  margin-right: 15px;
}

/*general info opening*/
/* line 117, ../components/sass/style.scss */
.general-info {
  padding: 45px 0;
}
/* line 119, ../components/sass/style.scss */
.general-info .row {
  margin-left: 0;
  margin-right: 0;
}

/* line 124, ../components/sass/style.scss */
.box-general-info {
  margin-bottom: 30px;
}
/* line 126, ../components/sass/style.scss */
.box-general-info h1 {
  color: #FFFFFF;
  font-size: 32px;
  font-weight: normal;
  margin-bottom: 25px;
  margin-top: 0px;
}

/* line 134, ../components/sass/style.scss */
.box-general-info:last-child {
  margin-bottom: 0px;
}

/* line 138, ../components/sass/style.scss */
.box-bouble {
  min-height: 15px;
  background-color: rgba(255, 255, 255, 0.85);
  border-radius: 12px;
  padding: 30px;
}
/* line 143, ../components/sass/style.scss */
.box-bouble .row {
  margin-right: -15px;
  margin-left: -15px;
}

/* line 149, ../components/sass/style.scss */
.box-bouble:before {
  content: "";
  height: 10px;
  display: block;
  padding-top: 10px;
  position: absolute;
  margin-top: -40px;
  width: 100%;
  background-image: url(../images/aventura-triangle-white.png);
  background-position: 0 0;
  background-repeat: no-repeat;
  opacity: .85;
}

/*general info opening facilities*/
/* line 166, ../components/sass/style.scss */
.facilities .nav {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  text-align: center;
}
/* line 172, ../components/sass/style.scss */
.facilities .nav img {
  background-color: #8DC644;
  margin-bottom: 5px;
}
/* line 176, ../components/sass/style.scss */
.facilities .nav li {
  width: 49%;
  justify-content: center;
  color: #8DC644;
}
/* line 181, ../components/sass/style.scss */
.facilities .nav li p {
  margin-bottom: 20px;
}

/*general info opening awards*/
/* line 189, ../components/sass/style.scss */
.awards img {
  border-radius: 12px;
  border: 1px solid #cccccc;
}
/* line 193, ../components/sass/style.scss */
.awards .owl-carousel .owl-item {
  text-align: center;
}
/* line 196, ../components/sass/style.scss */
.awards .row {
  width: 100%;
  margin: 0 auto;
}
/* line 200, ../components/sass/style.scss */
.awards .row.row-margin {
  margin-bottom: 20px;
}
/* line 203, ../components/sass/style.scss */
.awards .owl-theme .owl-controls .owl-nav {
  display: none;
}
/* line 206, ../components/sass/style.scss */
.awards h3 {
  font-size: 18px;
  margin-top: 0px;
  font-weight: normal;
  margin-bottom: 25px;
}

/*rooms and apps opening*/
/* line 215, ../components/sass/style.scss */
.box {
  min-height: 424px;
  border-radius: 12px;
  margin-bottom: 10px;
}

/* line 220, ../components/sass/style.scss */
.general-info {
  background-color: #8DC644;
}

/* line 224, ../components/sass/style.scss */
.africa-room {
  background-color: #FFBC01 !important;
}

/* line 227, ../components/sass/style.scss */
.india-room {
  background-color: #73108E;
}

/* line 230, ../components/sass/style.scss */
.space-room {
  background-color: #132060;
}

/* line 233, ../components/sass/style.scss */
.japan-room {
  background-color: #E50000;
}

/* line 236, ../components/sass/style.scss */
.rouge-ap {
  background-color: #BE0000;
}

/* line 239, ../components/sass/style.scss */
.art-retro-ap {
  background-color: #EB8300;
}

/* line 242, ../components/sass/style.scss */
.family-ap {
  background-color: #00B7EB;
}

/* line 245, ../components/sass/style.scss */
.logo {
  width: 150px;
  height: 150px;
  background-color: #fff;
  margin-top: -110px;
  position: relative;
  text-align: center;
  border-radius: 80px;
  z-index: 5;
  background-size: 1184px 149px;
}
/* line 257, ../components/sass/style.scss */
.logo .price {
  padding-top: 88px;
}
/* line 260, ../components/sass/style.scss */
.logo h4 {
  margin-top: -5px;
  font-size: 29px;
  font-weight: bold;
}
/* line 265, ../components/sass/style.scss */
.logo .euro {
  font-size: 15px;
  font-weight: lighter;
}
/* line 269, ../components/sass/style.scss */
.logo .small {
  margin: 0px;
  padding: 0px;
}

/* line 274, ../components/sass/style.scss */
.logo.africaLogo h4 {
  color: #FFBC01;
}

/* line 277, ../components/sass/style.scss */
.logo.indiaLogo h4 {
  color: #73108E;
}

/* line 280, ../components/sass/style.scss */
.logo.spaceLogo h4 {
  color: #132060;
}

/* line 283, ../components/sass/style.scss */
.logo.japanLogo h4 {
  color: #E50000;
}

/* line 286, ../components/sass/style.scss */
.logo.rougeLogo h4 {
  color: #BE0000;
}

/* line 289, ../components/sass/style.scss */
.logo.artLogo h4 {
  color: #EB8300;
}

/* line 292, ../components/sass/style.scss */
.logo.retroLogo h4 {
  color: #EB8300;
}

/* line 295, ../components/sass/style.scss */
.logo.familyLogo h4 {
  color: #00B7EB;
}

/* line 299, ../components/sass/style.scss */
.logo.africaLogo {
  background-image: url(../images/aventura-rooms-aps-logos-sprite.svg);
  background-position: 0px center;
}

/* line 303, ../components/sass/style.scss */
.logo.indiaLogo {
  background-image: url(../images/aventura-rooms-aps-logos-sprite.svg);
  background-position: -147px center;
}

/* line 307, ../components/sass/style.scss */
.logo.spaceLogo {
  background-image: url(../images/aventura-rooms-aps-logos-sprite.svg);
  background-position: -443px center;
}

/* line 311, ../components/sass/style.scss */
.logo.japanLogo {
  background-image: url(../images/aventura-rooms-aps-logos-sprite.svg);
  background-position: -295px center;
}

/* line 315, ../components/sass/style.scss */
.logo.rougeLogo {
  background-image: url(../images/aventura-rooms-aps-logos-sprite.svg);
  background-position: -591px center;
}

/* line 319, ../components/sass/style.scss */
.logo.artLogo {
  background-image: url(../images/aventura-rooms-aps-logos-sprite.svg);
  background-position: -887px center;
}

/* line 323, ../components/sass/style.scss */
.logo.retroLogo {
  background-image: url(../images/aventura-rooms-aps-logos-sprite.svg);
  background-position: -739px center;
}

/* line 327, ../components/sass/style.scss */
.logo.familyLogo {
  background-image: url(../images/aventura-rooms-aps-logos-sprite.svg);
  background-position: -1035px center;
}

/* line 332, ../components/sass/style.scss */
.room-ap-row {
  display: table !important;
  width: 100%;
  margin: 0;
}
/* line 336, ../components/sass/style.scss */
.room-ap-row ul li {
  min-height: 35px;
  font-size: 20px;
  color: #FFFFFF;
  line-height: 1.5;
  margin-bottom: 10px;
  display: inline-block;
}
/* line 344, ../components/sass/style.scss */
.room-ap-row ul li span {
  font-size: 12px;
  color: #FFFFFF;
  line-height: 80%;
}
/* line 349, ../components/sass/style.scss */
.room-ap-row ul li:first-child {
  width: auto;
  margin-right: 10px;
}
/* line 353, ../components/sass/style.scss */
.room-ap-row ul li:last-child {
  width: auto;
}
/* line 356, ../components/sass/style.scss */
.room-ap-row .icon {
  width: 30px;
  height: 30px;
  border: 2px solid #FFFFFF;
  border-radius: 80px;
  text-align: center;
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}
/* line 368, ../components/sass/style.scss */
.room-ap-row ul li img {
  width: 70%;
  height: 70%;
}
/* line 372, ../components/sass/style.scss */
.room-ap-row .nav-pills {
  margin-bottom: 5px;
  margin-top: 15px;
  text-align: center;
}
/* line 376, ../components/sass/style.scss */
.room-ap-row .nav-pills li {
  float: none;
}

/* line 382, ../components/sass/style.scss */
.box .media-left {
  padding-right: 0;
}

/* line 386, ../components/sass/style.scss */
.box .btn {
  font-size: 18px;
  padding: 8px 27px;
  border-radius: 12px;
  width: 48%;
  margin-bottom: 10px;
}

/* line 395, ../components/sass/style.scss */
.box .btn-default {
  border: none;
  font-weight: bold;
}

/* line 399, ../components/sass/style.scss */
.box .btn-details {
  border: 2px solid #FFFFFF;
  background-color: transparent;
  color: #FFFFFF !important;
  padding: 6px 25px;
  margin-right: 5px;
}

/* line 406, ../components/sass/style.scss */
.africa-room .btn-default {
  color: #FFBC01;
}

/* line 409, ../components/sass/style.scss */
.india-room .btn-default {
  color: #73108E;
}

/* line 412, ../components/sass/style.scss */
.space-room .btn-default {
  color: #132060;
}

/* line 415, ../components/sass/style.scss */
.japan-room .btn-default {
  color: #E50000;
}

/* line 418, ../components/sass/style.scss */
.rouge-ap .btn-default {
  color: #BE0000;
}

/* line 421, ../components/sass/style.scss */
.art-retro-ap .btn-default {
  color: #EB8300;
}

/* line 424, ../components/sass/style.scss */
.family-ap .btn-default {
  color: #00B7EB;
}

/* line 427, ../components/sass/style.scss */
.padding-xs {
  padding-right: 15px;
  padding-left: 15px;
}

@media (min-width: 0) {
  /* line 439, ../components/sass/style.scss */
  .navbar-toggle {
    display: block;
    /* force showing the toggle */
  }
}
@media (min-width: 992px) {
  /* line 445, ../components/sass/style.scss */
  .awards .owl-theme .owl-controls .owl-dots {
    display: none !important;
  }

  /* line 450, ../components/sass/style.scss */
  .awards .owl-theme .owl-controls .owl-nav .owl-prev {
    left: -35px;
    background-image: url(../images/aventura-carusel-arrow-left.svg);
  }
  /* line 455, ../components/sass/style.scss */
  .awards .owl-theme .owl-controls .owl-nav .owl-next {
    right: -35px;
    background-image: url(../images/aventura-carusel-arrow-right.svg);
  }
  /* line 459, ../components/sass/style.scss */
  .awards .owl-theme .owl-controls .owl-nav .owl-next, .awards .owl-theme .owl-controls .owl-nav .owl-prev {
    width: 22px;
    height: 22px;
    border-radius: 80px;
    top: 25px;
    position: absolute;
    text-indent: -40000px;
    background-position: center center;
    background-repeat: no-repeat;
  }
  /* line 469, ../components/sass/style.scss */
  .awards .row {
    width: 93%;
    margin: 0 auto;
  }
  /* line 473, ../components/sass/style.scss */
  .awards .owl-theme .owl-controls .owl-nav {
    display: block;
  }

  /* line 480, ../components/sass/style.scss */
  .facilities .nav li {
    width: 16.6%;
    justify-content: center;
  }

  /* line 485, ../components/sass/style.scss */
  .padding-right-zero {
    padding-right: 0px;
    padding-left: 15px;
  }

  /* line 489, ../components/sass/style.scss */
  .padding-xs {
    padding-right: 0px;
    padding-left: 0px;
  }

  /*rooms and apps opening*/
  /* line 495, ../components/sass/style.scss */
  .box {
    min-height: 350px;
    border-radius: 12px;
    margin-bottom: 10px;
  }

  /* line 501, ../components/sass/style.scss */
  .logo {
    width: 230px;
    height: 230px;
    background-color: #fff;
    top: 60px;
    left: -115px;
    position: absolute;
    text-align: center;
    border-radius: 180px;
    z-index: 5;
    background-size: 1835px 231px;
    margin-top: 0px;
  }
  /* line 514, ../components/sass/style.scss */
  .logo .price {
    padding-top: 140px;
  }
  /* line 517, ../components/sass/style.scss */
  .logo h4 {
    margin-top: 0px;
    font-size: 43px;
    font-weight: bold;
  }
  /* line 522, ../components/sass/style.scss */
  .logo .euro {
    font-size: 15px;
    font-weight: lighter;
  }
  /* line 526, ../components/sass/style.scss */
  .logo .small {
    margin: 0px;
    padding: 0px;
  }

  /* line 532, ../components/sass/style.scss */
  .logo.africaLogo {
    background-image: url(../images/aventura-rooms-aps-logos-sprite.svg);
    background-position: 0px center;
  }

  /* line 536, ../components/sass/style.scss */
  .logo.indiaLogo {
    background-image: url(../images/aventura-rooms-aps-logos-sprite.svg);
    background-position: -229px center;
  }

  /* line 540, ../components/sass/style.scss */
  .logo.spaceLogo {
    background-image: url(../images/aventura-rooms-aps-logos-sprite.svg);
    background-position: -688px center;
  }

  /* line 544, ../components/sass/style.scss */
  .logo.japanLogo {
    background-image: url(../images/aventura-rooms-aps-logos-sprite.svg);
    background-position: -295px center;
  }

  /* line 548, ../components/sass/style.scss */
  .logo.rougeLogo {
    background-image: url(../images/aventura-rooms-aps-logos-sprite.svg);
    background-position: -591px center;
  }

  /* line 552, ../components/sass/style.scss */
  .logo.artLogo {
    background-image: url(../images/aventura-rooms-aps-logos-sprite.svg);
    background-position: -887px center;
  }

  /* line 556, ../components/sass/style.scss */
  .logo.retroLogo {
    background-image: url(../images/aventura-rooms-aps-logos-sprite.svg);
    background-position: -739px center;
  }

  /* line 560, ../components/sass/style.scss */
  .logo.familyLogo {
    background-image: url(../images/aventura-rooms-aps-logos-sprite.svg);
    background-position: -1035px center;
  }

  /* line 565, ../components/sass/style.scss */
  .room-ap-row {
    display: table !important;
    height: 350px;
  }
  /* line 568, ../components/sass/style.scss */
  .room-ap-row ul li {
    min-height: 47px;
    font-size: 20px;
    color: #FFFFFF;
    line-height: 100%;
    margin-bottom: 10px;
  }
  /* line 575, ../components/sass/style.scss */
  .room-ap-row ul li span {
    font-size: 14px;
    color: #FFFFFF;
  }
  /* line 579, ../components/sass/style.scss */
  .room-ap-row ul li:first-child {
    width: 177px;
    margin-right: 0px;
  }
  /* line 583, ../components/sass/style.scss */
  .room-ap-row ul li:last-child {
    width: 137px;
  }
  /* line 586, ../components/sass/style.scss */
  .room-ap-row .icon {
    width: 47px;
    height: 47px;
    border: 2px solid #FFFFFF;
    border-radius: 80px;
    text-align: center;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 13px;
  }
  /* line 600, ../components/sass/style.scss */
  .room-ap-row .nav-pills {
    margin-bottom: 10px;
    text-align: left;
  }

  /* line 606, ../components/sass/style.scss */
  .box .btn {
    font-size: 18px;
    padding: 8px 27px;
    border-radius: 12px;
    width: 150px;
    margin-bottom: 10px;
  }

  /* line 615, ../components/sass/style.scss */
  .box .btn-default {
    border: none;
    font-weight: bold;
  }

  /* line 619, ../components/sass/style.scss */
  .box .btn-details {
    border: 2px solid #FFFFFF;
    background-color: transparent;
    color: #FFFFFF !important;
    padding: 6px 25px;
    margin-right: 10px;
  }

  /* main-bar */
  /* line 628, ../components/sass/style.scss */
  .main-bar {
    background-color: #8DC644;
    -moz-border-radius-bottomright: 12px;
    -webkit-border-bottom-right-radius: 12px;
    border-bottom-right-radius: 12px;
    -moz-border-radius-bottomleft: 12px;
    -webkit-border-bottom-left-radius: 12px;
    border-bottom-left-radius: 12px;
    width: 262px;
    height: 628px;
    position: fixed;
    display: block;
    top: 0;
    left: 79px;
    z-index: 999999;
  }
  /* line 643, ../components/sass/style.scss */
  .main-bar .padding {
    padding: 0 21px 21px 21px;
  }
  /* line 646, ../components/sass/style.scss */
  .main-bar .aventura-brand {
    background-color: #FFFFFF;
    min-height: 250px;
    border-radius: 8px;
    margin-top: 5px;
    text-align: center;
    padding: 12px 0;
  }
  /* line 654, ../components/sass/style.scss */
  .main-bar .aventura-tube {
    position: absolute;
    left: 6px;
    margin-top: 10px;
  }

  /* line 661, ../components/sass/style.scss */
  .navbar-fixed-top {
    top: 330px;
    border-width: 0 0 1px;
    width: 220px;
    left: 100px;
    z-index: 99999999;
  }

  /* line 669, ../components/sass/style.scss */
  .navbar-default {
    background-color: transparent;
    border: none;
  }

  /* line 673, ../components/sass/style.scss */
  .navbar-toggle {
    border: none;
    border-radius: 7px;
    width: 95px;
    height: 40px;
    background-color: white;
    margin-top: 0;
    margin-left: 0px;
    float: left !important;
  }
  /* line 682, ../components/sass/style.scss */
  .navbar-toggle p {
    float: right;
    margin-top: -21px;
    font-size: 18px;
    color: #8DC644;
    font-weight: bold;
  }
  /* line 690, ../components/sass/style.scss */
  .navbar-toggle .icon-bar {
    background-color: #8DC644 !important;
    margin-top: 5px;
    width: 18px;
  }

  /* line 696, ../components/sass/style.scss */
  .navbar-nav {
    margin: 0 -15px;
  }

  /* line 700, ../components/sass/style.scss */
  .navbarIcons {
    text-indent: -3000px;
  }
  /* line 703, ../components/sass/style.scss */
  .navbarIcons li {
    background-repeat: no-repeat !important;
    width: 25px;
    margin-right: 6px;
    background-size: 131px 34px;
  }
  /* line 710, ../components/sass/style.scss */
  .navbarIcons li.phone {
    background: url(../images/aventura-mobil-nav-icons-sprite.svg);
    background-position: -11px center;
  }
  /* line 714, ../components/sass/style.scss */
  .navbarIcons li.skype {
    background: url(../images/aventura-mobil-nav-icons-sprite.svg);
    background-position: -50px center;
  }
  /* line 718, ../components/sass/style.scss */
  .navbarIcons li.email {
    background: url(../images/aventura-mobil-nav-icons-sprite.svg);
    margin-right: 2px;
    background-position: -90px center;
  }
  /* line 723, ../components/sass/style.scss */
  .navbarIcons li.google {
    background: url(../images/aventura-mobil-nav-icons-sprite.svg);
    background-position: -133px center;
  }

  /* line 729, ../components/sass/style.scss */
  .navbar-nav > li > a {
    padding-top: 0px;
    padding-bottom: 10px;
  }
}
@media (min-width: 500px) and (max-width: 991px) {
  /* line 743, ../components/sass/style.scss */
  .facilities .nav li {
    width: 33%;
    justify-content: center;
  }
}
@media (min-width: 768px) {
  	/*.room-ap-row {
  		ul li {
  			text-align: left;
  			margin-bottom: 20px;
  		}
  ul li:first-child {
  	width: 150px;
  	margin-right: 10px;
  }
  ul li:last-child {
  	width: 130px;
  }
  
  }*/
}
@media (min-width: 1200px) {
  /* line 776, ../components/sass/style.scss */
  .room-ap-row {
    margin-left: -60px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  /* line 783, ../components/sass/style.scss */
  .room-ap-row {
    margin-left: 20px;
  }
}
