/* Scss Document */
@font-face {
  font-family: 'HelveticaNeueLT-Com-57-Cn';
  src: url("../fonts/HelveticaNeueLTCom-Cn.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/HelveticaNeueLTCom-Cn.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueLTCom-Cn.woff") format("woff"), url("../fonts/HelveticaNeueLTCom-Cn.ttf") format("truetype"), url("../fonts/HelveticaNeueLTCom-Cn.svg#1bfe3908464079d33e43d1bde3a33e17") format("svg");
  /* Legacy iOS */
  font-style: normal;
  font-weight: 400;
}
/* Scss Document */
/* room and ap colors*/
/* Scss Document */
/* line 21, ../components/sass/style.scss */
body {
  color: #4d4d4d;
}

/*.box .owl-theme .owl-controls {
	position: relative;
left: 170px;
top: -340px;
margin-top: 0;
}
*/
/* line 32, ../components/sass/style.scss */
.owl-rooms-aps .owl-item {
  max-height: 350px;
}

/* line 35, ../components/sass/style.scss */
.owl-rooms-aps .owl-item img {
  width: 100%;
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
}

/* line 40, ../components/sass/style.scss */
.owl-rooms-aps .item {
  height: 212px;
  border-radius: 12px;
}

/* line 44, ../components/sass/style.scss */
.padding-zero {
  padding: 0px;
}

/* line 48, ../components/sass/style.scss */
.padding-right-zero {
  padding-right: 0px;
  padding-left: 0px;
}

/* line 52, ../components/sass/style.scss */
.navbar-toggle {
  margin-left: 0px;
  height: 42px;
  margin-top: 9px;
}

/* line 59, ../components/sass/style.scss */
.navmenu, .navbar-offcanvas {
  width: 240px;
}

/* line 63, ../components/sass/style.scss */
.navbar-default .navbar-toggle {
  float: left;
  border: 2px solid solid;
  border-radius: 8px;
}

/* line 68, ../components/sass/style.scss */
.navbar {
  height: 60px;
}

/* line 71, ../components/sass/style.scss */
.navbar-brand {
  height: 40px;
  padding-top: 9px;
  padding-left: 15px;
  margin-right: 0px;
}

/* line 77, ../components/sass/style.scss */
.navbar-nav {
  margin: 10px 0px;
}

/* navbar icons */
/* line 81, ../components/sass/style.scss */
.navbar-right {
  float: right;
}

/* line 84, ../components/sass/style.scss */
.navbarIcons {
  text-indent: -3000px;
}
/* line 87, ../components/sass/style.scss */
.navbarIcons li {
  background-repeat: no-repeat !important;
  width: 40px;
  margin-right: 0;
  background-size: 164px 42px;
  float: left;
}
/* line 95, ../components/sass/style.scss */
.navbarIcons li.phone {
  background: url(../images/aventura-mobil-nav-icons-sprite.svg);
  background-position: -1px center;
}
/* line 99, ../components/sass/style.scss */
.navbarIcons li.skype {
  background: url(../images/aventura-mobil-nav-icons-sprite.svg);
  background-position: -41px center;
}
/* line 103, ../components/sass/style.scss */
.navbarIcons li.email {
  background: url(../images/aventura-mobil-nav-icons-sprite.svg);
  margin-right: -5px;
  background-position: -82px center;
}
/* line 108, ../components/sass/style.scss */
.navbarIcons li.google {
  background: url(../images/aventura-mobil-nav-icons-sprite.svg);
  background-position: -123px center;
  margin-right: 15px;
}

/*general info opening*/
/* line 117, ../components/sass/style.scss */
.general-info {
  padding: 45px 0;
}
/* line 119, ../components/sass/style.scss */
.general-info .row {
  margin-left: 0;
  margin-right: 0;
}

/* line 124, ../components/sass/style.scss */
.box-general-info {
  margin-bottom: 45px;
}
/* line 126, ../components/sass/style.scss */
.box-general-info h1 {
  color: #FFFFFF;
  font-size: 32px;
  font-weight: 200;
  margin-bottom: 20px;
  margin-top: 0px;
}

/* line 134, ../components/sass/style.scss */
.box-general-info:last-child {
  margin-bottom: 0px;
}

/* line 138, ../components/sass/style.scss */
.box-bouble {
  min-height: 15px;
  background-color: rgba(255, 255, 255, 0.85);
  border-radius: 12px;
  padding: 30px;
}
/* line 143, ../components/sass/style.scss */
.box-bouble .row {
  margin-right: -15px;
  margin-left: -15px;
}
/* line 147, ../components/sass/style.scss */
.box-bouble .btn {
  font-size: 18px;
  padding: 8px 27px;
  border-radius: 12px;
  border: solid 2px #8DC644;
  background-color: transparent;
  width: 100% !important;
  color: #8DC644;
  font-weight: bold;
  margin-bottom: 0px !important;
}
@media (min-width: 992px) {
  /* line 147, ../components/sass/style.scss */
  .box-bouble .btn {
    background-color: transparent;
    width: auto !important;
    color: #8DC644;
    font-weight: bold;
    margin-bottom: 0px !important;
  }
}

/* line 168, ../components/sass/style.scss */
.box-bouble:before {
  content: "";
  height: 10px;
  display: block;
  padding-top: 10px;
  position: absolute;
  margin-top: -40px;
  width: 100%;
  background-image: url(../images/aventura-triangle-white.png);
  background-position: 0 0;
  background-repeat: no-repeat;
  opacity: .85;
}

/*general info opening facilities*/
/* line 185, ../components/sass/style.scss */
.facilities .nav {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  text-align: center;
}
/* line 191, ../components/sass/style.scss */
.facilities .nav img {
  background-color: #8DC644;
  margin-bottom: 5px;
}
/* line 195, ../components/sass/style.scss */
.facilities .nav li {
  width: 49%;
  justify-content: center;
  color: #8DC644;
}
/* line 200, ../components/sass/style.scss */
.facilities .nav li p {
  margin-bottom: 20px;
}

/*general info opening directions*/
/* line 207, ../components/sass/style.scss */
.direction .img-rounded {
  border-radius: 12px;
}

/*general info opening discount*/
/* line 214, ../components/sass/style.scss */
.packages {
  padding-bottom: 0;
}
/* line 216, ../components/sass/style.scss */
.packages .flex {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
/* line 221, ../components/sass/style.scss */
.packages .item {
  margin-right: 5px;
  margin-left: 5px;
  padding-top: 20px;
  padding-bottom: 30px;
}
/* line 228, ../components/sass/style.scss */
.packages .col-lg-12 {
  margin-top: -20px;
}
/* line 231, ../components/sass/style.scss */
.packages .owl-item {
  padding-bottom: 30px;
}
@media (min-width: 992px) {
  /* line 237, ../components/sass/style.scss */
  .packages .owl-controls {
    display: none;
  }
}

/* line 244, ../components/sass/style.scss */
.discount-box {
  width: 100%;
  min-height: 260px;
  background-color: #8DC644;
  border-radius: 12px;
  background-image: url(../images/aventura-discounts-bg.svg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 143px 143px;
  text-align: center;
}

/* line 256, ../components/sass/style.scss */
.discount-box h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: #FFFFFF;
  line-height: 22px;
  font-weight: normal;
  text-align: center;
  padding-top: 7px;
  margin-top: 5px;
  margin-bottom: 15px;
}

/* line 268, ../components/sass/style.scss */
.packages .discount {
  position: relative;
  margin-top: 22px;
  text-align: center;
  width: 100%;
}

/* line 274, ../components/sass/style.scss */
.packages .discount h3 {
  font-size: 72px;
  font-weight: bold;
  letter-spacing: 0em;
  padding-bottom: 0px;
  padding-top: 0px;
  color: #8DC644;
  margin: 0;
}

/* line 284, ../components/sass/style.scss */
.packages .discount span {
  font-size: 24px;
  font-weight: lighter;
  letter-spacing: 0em;
}

/* line 290, ../components/sass/style.scss */
.packages .discount h4 {
  font-size: 20px;
  font-weight: lighter;
  letter-spacing: 0em;
  color: #8DC644;
  margin-top: -8px;
  font-family: Arial, Helvetica, sans-serif;
}

/* line 298, ../components/sass/style.scss */
.packages .discount p {
  font-size: 13px;
  color: #8DC644;
  font-family: HelveticaNeueLT-Com-57-Cn, sans-serif;
  margin-top: -12px;
}

/* line 305, ../components/sass/style.scss */
.discount-box .btn, .discount-box-back .btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: -2px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -moz-user-select: none;
}

/* line 319, ../components/sass/style.scss */
.discount-box .btn-default, .discount-box-back .btn-default {
  border: medium none;
  font-weight: bold;
  border-radius: 10px;
  padding: 6px 22px;
  background-color: rgba(255, 255, 255, 0.24);
  color: white;
  position: relative;
  top: 30px;
  width: 80% !important;
}

/* line 332, ../components/sass/style.scss */
.extras {
  margin-top: 20px;
}

/* line 336, ../components/sass/style.scss */
.discount-box-back .btn-default {
  top: 5px;
}

/* line 340, ../components/sass/style.scss */
.discount-box-back {
  width: 178px;
  height: 260px;
  background-color: #6FA030;
  border-radius: 12px;
  display: inline-block;
  text-align: center;
  margin-bottom: 5px;
}

/* line 349, ../components/sass/style.scss */
.discount-box-back h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: #FFFFFF;
  line-height: 22px;
  font-weight: normal;
  text-align: center;
  padding-top: 7px;
}

/* line 359, ../components/sass/style.scss */
.discount-box-back li {
  display: inline;
}

/* line 363, ../components/sass/style.scss */
.nav {
  padding-left: 0px;
  margin-bottom: 0px;
  list-style: outside none none;
}

/* line 368, ../components/sass/style.scss */
.facWraper {
  display: inline-block;
  margin-bottom: 0px;
  font-size: 12px;
  font-family: HelveticaNeueLT-Com-57-Cn, sans-serif;
}

/* line 375, ../components/sass/style.scss */
.facWraper img {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.2);
}

/* line 381, ../components/sass/style.scss */
.facWraper p {
  margin-top: 5px;
  margin-bottom: 10px;
  color: white;
}

/* line 386, ../components/sass/style.scss */
.extras {
  margin-top: 20px;
}

/* line 390, ../components/sass/style.scss */
.discount-box-back .btn-default {
  top: 5px;
}

/*new flip*/
/* entire container, keeps perspective */
/* line 398, ../components/sass/style.scss */
.flip-container {
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -ms-perspective: 1000;
  perspective: 1000;
  -ms-transform: perspective(1000px);
  -moz-transform: perspective(1000px);
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
}

/* flip the pane when hovered */
/* line 411, ../components/sass/style.scss */
.flip-container:hover .flipper, .flip-container.hover .flipper {
  transform: rotateY(180deg);
}

/* line 415, ../components/sass/style.scss */
.flip-container, .front, .back {
  width: 100%;
  min-height: 280px;
}

/* flip speed goes here */
/* line 421, ../components/sass/style.scss */
.flipper {
  -webkit-transition: 0.6s;
  -webkit-transform-style: preserve-3d;
  -ms-transition: 0.6s;
  -moz-transition: 0.6s;
  -moz-transform: perspective(1000px);
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
}

/* hide back of pane during swap */
/* line 439, ../components/sass/style.scss */
.front, .back {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: 0.6s;
  -webkit-transform-style: preserve-3d;
  -webkit-transform: rotateY(0deg);
  -moz-transition: 0.6s;
  -moz-transform-style: preserve-3d;
  -moz-transform: rotateY(0deg);
  -o-transition: 0.6s;
  -o-transform-style: preserve-3d;
  -o-transform: rotateY(0deg);
  -ms-transition: 0.6s;
  -ms-transform-style: preserve-3d;
  -ms-transform: rotateY(0deg);
  transition: 0.6s;
  transform-style: preserve-3d;
  transform: rotateY(0deg);
  position: absolute;
  top: 0;
  left: 0;
}

/* front pane, placed above back */
/* line 470, ../components/sass/style.scss */
.front {
  -webkit-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  z-index: 2;
}

/* back, initially hidden pane */
/* line 477, ../components/sass/style.scss */
.back {
  -webkit-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
  -o-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}

/* line 486, ../components/sass/style.scss */
.flip-container {
  float: left;
  margin-bottom: 5px;
}

/* line 492, ../components/sass/style.scss */
.flip-container.last {
  margin-right: 0px !important;
}

/* line 496, ../components/sass/style.scss */
.card.last {
  margin-right: 0px !important;
}

/*general info opening awards*/
/* line 503, ../components/sass/style.scss */
.awards img {
  border-radius: 12px;
  border: 1px solid #cccccc;
}
/* line 507, ../components/sass/style.scss */
.awards .owl-carousel .owl-item {
  text-align: center;
}
/* line 510, ../components/sass/style.scss */
.awards .row {
  width: 100%;
  margin: 0 auto;
}
/* line 514, ../components/sass/style.scss */
.awards .row.row-margin {
  margin-bottom: 20px;
}
/* line 517, ../components/sass/style.scss */
.awards .owl-theme .owl-controls .owl-nav {
  display: none;
}
/* line 520, ../components/sass/style.scss */
.awards h3 {
  font-size: 18px;
  margin-top: 0px;
  font-weight: normal;
  margin-bottom: 25px;
}

/*general info opening awards*/
/* line 531, ../components/sass/style.scss */
.news h3, .reviews h3 {
  font-size: 18px;
  color: #8DC644;
  font-size: 18px;
}
@media (min-width: 992px) {
  /* line 531, ../components/sass/style.scss */
  .news h3, .reviews h3 {
    margin-top: 0px;
  }
}

/*general info opening reviews*/
/* line 545, ../components/sass/style.scss */
.box-bouble-outline {
  background-color: transparent;
  border: solid 2px #8DC644;
}

/* line 551, ../components/sass/style.scss */
.box-bouble-outline:before {
  position: relative;
  background-image: url(../images/aventura-triangle-green@2x.png);
  background-size: 18px 10px;
  background-position: center 0;
  opacity: 1;
  z-index: 3;
  margin-bottom: 30px;
}

/* line 562, ../components/sass/style.scss */
.reviews h3, .reviews small {
  text-align: center;
}
/* line 565, ../components/sass/style.scss */
.reviews small {
  display: block;
  margin-bottom: 20px;
}
/* line 569, ../components/sass/style.scss */
.reviews p {
  margin-bottom: 0px;
}
/* line 572, ../components/sass/style.scss */
.reviews .fa-user {
  font-size: 28px;
  text-align: center;
  color: #FFFFFF;
  margin: 0 auto;
  display: block;
  margin-bottom: 10px;
}
/* line 580, ../components/sass/style.scss */
.reviews i {
  width: 40px;
  height: 40px;
  background-color: #8DC644;
  border-radius: 120px;
  line-height: 1.3;
}

/*rooms and apps opening*/
/* line 590, ../components/sass/style.scss */
.box {
  min-height: 424px;
  border-radius: 12px;
  margin-bottom: 10px;
}

/* line 595, ../components/sass/style.scss */
.general-info {
  background-color: #8DC644;
}

/* line 599, ../components/sass/style.scss */
.africa-room {
  background-color: #FFBC01 !important;
}

/* line 602, ../components/sass/style.scss */
.india-room {
  background-color: #73108E;
}

/* line 605, ../components/sass/style.scss */
.space-room {
  background-color: #132060;
}

/* line 608, ../components/sass/style.scss */
.japan-room {
  background-color: #E50000;
}

/* line 611, ../components/sass/style.scss */
.rouge-ap {
  background-color: #BE0000;
}

/* line 614, ../components/sass/style.scss */
.art-retro-ap {
  background-color: #EB8300;
}

/* line 617, ../components/sass/style.scss */
.family-ap {
  background-color: #00B7EB;
}

/* line 620, ../components/sass/style.scss */
.logo {
  width: 150px;
  height: 150px;
  background-color: #fff;
  margin-top: -110px;
  position: relative;
  text-align: center;
  border-radius: 80px;
  z-index: 5;
  background-size: 1184px 149px;
}
/* line 632, ../components/sass/style.scss */
.logo .price {
  padding-top: 88px;
}
/* line 635, ../components/sass/style.scss */
.logo h4 {
  margin-top: -5px;
  font-size: 29px;
  font-weight: bold;
}
/* line 640, ../components/sass/style.scss */
.logo .euro {
  font-size: 15px;
  font-weight: lighter;
}
/* line 644, ../components/sass/style.scss */
.logo .small {
  margin: 0px;
  padding: 0px;
}

/* line 649, ../components/sass/style.scss */
.logo.africaLogo h4 {
  color: #FFBC01;
}

/* line 652, ../components/sass/style.scss */
.logo.indiaLogo h4 {
  color: #73108E;
}

/* line 655, ../components/sass/style.scss */
.logo.spaceLogo h4 {
  color: #132060;
}

/* line 658, ../components/sass/style.scss */
.logo.japanLogo h4 {
  color: #E50000;
}

/* line 661, ../components/sass/style.scss */
.logo.rougeLogo h4 {
  color: #BE0000;
}

/* line 664, ../components/sass/style.scss */
.logo.artLogo h4 {
  color: #EB8300;
}

/* line 667, ../components/sass/style.scss */
.logo.retroLogo h4 {
  color: #EB8300;
}

/* line 670, ../components/sass/style.scss */
.logo.familyLogo h4 {
  color: #00B7EB;
}

/* line 674, ../components/sass/style.scss */
.logo.africaLogo {
  background-image: url(../images/aventura-rooms-aps-logos-sprite.svg);
  background-position: 0px center;
}

/* line 678, ../components/sass/style.scss */
.logo.indiaLogo {
  background-image: url(../images/aventura-rooms-aps-logos-sprite.svg);
  background-position: -147px center;
}

/* line 682, ../components/sass/style.scss */
.logo.spaceLogo {
  background-image: url(../images/aventura-rooms-aps-logos-sprite.svg);
  background-position: -443px center;
}

/* line 686, ../components/sass/style.scss */
.logo.japanLogo {
  background-image: url(../images/aventura-rooms-aps-logos-sprite.svg);
  background-position: -295px center;
}

/* line 690, ../components/sass/style.scss */
.logo.rougeLogo {
  background-image: url(../images/aventura-rooms-aps-logos-sprite.svg);
  background-position: -591px center;
}

/* line 694, ../components/sass/style.scss */
.logo.artLogo {
  background-image: url(../images/aventura-rooms-aps-logos-sprite.svg);
  background-position: -887px center;
}

/* line 698, ../components/sass/style.scss */
.logo.retroLogo {
  background-image: url(../images/aventura-rooms-aps-logos-sprite.svg);
  background-position: -739px center;
}

/* line 702, ../components/sass/style.scss */
.logo.familyLogo {
  background-image: url(../images/aventura-rooms-aps-logos-sprite.svg);
  background-position: -1035px center;
}

/* line 707, ../components/sass/style.scss */
.room-ap-row {
  display: table !important;
  width: 100%;
  margin: 0;
}
/* line 711, ../components/sass/style.scss */
.room-ap-row ul li {
  min-height: 35px;
  font-size: 20px;
  color: #FFFFFF;
  line-height: 1.5;
  margin-bottom: 10px;
  display: inline-block;
}
/* line 719, ../components/sass/style.scss */
.room-ap-row ul li span {
  font-size: 12px;
  color: #FFFFFF;
  line-height: 80%;
}
/* line 724, ../components/sass/style.scss */
.room-ap-row ul li:first-child {
  width: auto;
  margin-right: 10px;
}
/* line 728, ../components/sass/style.scss */
.room-ap-row ul li:last-child {
  width: auto;
}
/* line 731, ../components/sass/style.scss */
.room-ap-row .icon {
  width: 30px;
  height: 30px;
  border: 2px solid #FFFFFF;
  border-radius: 80px;
  text-align: center;
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}
/* line 743, ../components/sass/style.scss */
.room-ap-row ul li img {
  width: 70%;
  height: 70%;
}
/* line 747, ../components/sass/style.scss */
.room-ap-row .nav-pills {
  margin-bottom: 5px;
  margin-top: 15px;
  text-align: center;
}
/* line 751, ../components/sass/style.scss */
.room-ap-row .nav-pills li {
  float: none;
}

/* line 757, ../components/sass/style.scss */
.box .media-left {
  padding-right: 0;
}

/* line 761, ../components/sass/style.scss */
.box .btn {
  font-size: 18px;
  padding: 8px 27px;
  border-radius: 12px;
  width: 48%;
  margin-bottom: 10px;
}

/* line 770, ../components/sass/style.scss */
.box .btn-default {
  border: none;
  font-weight: bold;
}

/* line 774, ../components/sass/style.scss */
.box .btn-details {
  border: 2px solid #FFFFFF;
  background-color: transparent;
  color: #FFFFFF !important;
  padding: 6px 25px;
  margin-right: 5px;
}

/* line 781, ../components/sass/style.scss */
.africa-room .btn-default {
  color: #FFBC01;
}

/* line 784, ../components/sass/style.scss */
.india-room .btn-default {
  color: #73108E;
}

/* line 787, ../components/sass/style.scss */
.space-room .btn-default {
  color: #132060;
}

/* line 790, ../components/sass/style.scss */
.japan-room .btn-default {
  color: #E50000;
}

/* line 793, ../components/sass/style.scss */
.rouge-ap .btn-default {
  color: #BE0000;
}

/* line 796, ../components/sass/style.scss */
.art-retro-ap .btn-default {
  color: #EB8300;
}

/* line 799, ../components/sass/style.scss */
.family-ap .btn-default {
  color: #00B7EB;
}

/* line 802, ../components/sass/style.scss */
.padding-xs {
  padding-right: 15px;
  padding-left: 15px;
}

@media (min-width: 0) {
  /* line 814, ../components/sass/style.scss */
  .navbar-toggle {
    display: block;
    /* force showing the toggle */
  }
}
@media (min-width: 992px) {
  /*general info opening awards*/
  /* line 821, ../components/sass/style.scss */
  .awards .owl-theme .owl-controls .owl-dots, .news .owl-theme .owl-controls .owl-dots, .reviews .owl-theme .owl-controls .owl-dots {
    display: none !important;
  }

  /* line 826, ../components/sass/style.scss */
  .awards .owl-theme .owl-controls .owl-nav .owl-prev, .news .owl-theme .owl-controls .owl-nav .owl-prev, .reviews .owl-theme .owl-controls .owl-nav .owl-prev {
    left: -35px;
    background-image: url(../images/aventura-carusel-arrow-left.svg);
  }
  /* line 831, ../components/sass/style.scss */
  .awards .owl-theme .owl-controls .owl-nav .owl-next, .news .owl-theme .owl-controls .owl-nav .owl-next, .reviews .owl-theme .owl-controls .owl-nav .owl-next {
    right: -35px;
    background-image: url(../images/aventura-carusel-arrow-right.svg);
  }
  /* line 835, ../components/sass/style.scss */
  .awards .owl-theme .owl-controls .owl-nav .owl-next, .awards .owl-theme .owl-controls .owl-nav .owl-prev, .news .owl-theme .owl-controls .owl-nav .owl-next, .news .owl-theme .owl-controls .owl-nav .owl-prev, .reviews .owl-theme .owl-controls .owl-nav .owl-next, .reviews .owl-theme .owl-controls .owl-nav .owl-prev {
    width: 22px;
    height: 22px;
    border-radius: 80px;
    top: 25px;
    position: absolute;
    text-indent: -40000px;
    background-position: center center;
    background-repeat: no-repeat;
  }
  /* line 845, ../components/sass/style.scss */
  .awards .row, .news .row, .reviews .row {
    width: 93%;
    margin: 0 auto;
  }
  /* line 849, ../components/sass/style.scss */
  .awards .owl-theme .owl-controls .owl-nav, .news .owl-theme .owl-controls .owl-nav, .reviews .owl-theme .owl-controls .owl-nav {
    display: block;
  }

  /*general info opening news*/
  /* line 856, ../components/sass/style.scss */
  .news .owl-theme .owl-controls .owl-nav .owl-prev, .reviews .owl-theme .owl-controls .owl-nav .owl-prev {
    right: 35px !important;
    left: auto;
    background-image: url(../images/aventura-carusel-arrow-left.svg);
  }
  /* line 861, ../components/sass/style.scss */
  .news .owl-theme .owl-controls .owl-nav .owl-next, .reviews .owl-theme .owl-controls .owl-nav .owl-next {
    right: 10px;
    background-image: url(../images/aventura-carusel-arrow-right.svg);
  }
  /* line 866, ../components/sass/style.scss */
  .news .row, .reviews .row {
    width: auto;
    margin: auto;
    margin-left: -15px;
    margin-right: -15px;
  }
  /* line 872, ../components/sass/style.scss */
  .news .owl-theme .owl-controls .owl-nav .owl-next, .news .owl-theme .owl-controls .owl-nav .owl-prev, .reviews .owl-theme .owl-controls .owl-nav .owl-next, .reviews .owl-theme .owl-controls .owl-nav .owl-prev {
    top: 0px;
    margin: 0px;
  }

  /* line 878, ../components/sass/style.scss */
  .facilities .nav li {
    width: 16.6%;
    justify-content: center;
  }

  /* line 883, ../components/sass/style.scss */
  .padding-right-zero {
    padding-right: 0px;
    padding-left: 15px;
  }

  /* line 887, ../components/sass/style.scss */
  .padding-xs {
    padding-right: 0px;
    padding-left: 0px;
  }

  /*rooms and apps opening*/
  /* line 893, ../components/sass/style.scss */
  .box {
    min-height: 350px;
    border-radius: 12px;
    margin-bottom: 10px;
  }

  /* line 899, ../components/sass/style.scss */
  .logo {
    width: 230px;
    height: 230px;
    background-color: #fff;
    top: 60px;
    left: -115px;
    position: absolute;
    text-align: center;
    border-radius: 180px;
    z-index: 5;
    background-size: 1835px 231px;
    margin-top: 0px;
  }
  /* line 912, ../components/sass/style.scss */
  .logo .price {
    padding-top: 140px;
  }
  /* line 915, ../components/sass/style.scss */
  .logo h4 {
    margin-top: 0px;
    font-size: 43px;
    font-weight: bold;
  }
  /* line 920, ../components/sass/style.scss */
  .logo .euro {
    font-size: 15px;
    font-weight: lighter;
  }
  /* line 924, ../components/sass/style.scss */
  .logo .small {
    margin: 0px;
    padding: 0px;
  }

  /* line 930, ../components/sass/style.scss */
  .logo.africaLogo {
    background-image: url(../images/aventura-rooms-aps-logos-sprite.svg);
    background-position: 0px center;
  }

  /* line 934, ../components/sass/style.scss */
  .logo.indiaLogo {
    background-image: url(../images/aventura-rooms-aps-logos-sprite.svg);
    background-position: -229px center;
  }

  /* line 938, ../components/sass/style.scss */
  .logo.spaceLogo {
    background-image: url(../images/aventura-rooms-aps-logos-sprite.svg);
    background-position: -688px center;
  }

  /* line 942, ../components/sass/style.scss */
  .logo.japanLogo {
    background-image: url(../images/aventura-rooms-aps-logos-sprite.svg);
    background-position: -295px center;
  }

  /* line 946, ../components/sass/style.scss */
  .logo.rougeLogo {
    background-image: url(../images/aventura-rooms-aps-logos-sprite.svg);
    background-position: -591px center;
  }

  /* line 950, ../components/sass/style.scss */
  .logo.artLogo {
    background-image: url(../images/aventura-rooms-aps-logos-sprite.svg);
    background-position: -887px center;
  }

  /* line 954, ../components/sass/style.scss */
  .logo.retroLogo {
    background-image: url(../images/aventura-rooms-aps-logos-sprite.svg);
    background-position: -739px center;
  }

  /* line 958, ../components/sass/style.scss */
  .logo.familyLogo {
    background-image: url(../images/aventura-rooms-aps-logos-sprite.svg);
    background-position: -1035px center;
  }

  /* line 963, ../components/sass/style.scss */
  .room-ap-row {
    display: table !important;
    height: 350px;
  }
  /* line 966, ../components/sass/style.scss */
  .room-ap-row ul li {
    min-height: 47px;
    font-size: 20px;
    color: #FFFFFF;
    line-height: 100%;
    margin-bottom: 10px;
  }
  /* line 973, ../components/sass/style.scss */
  .room-ap-row ul li span {
    font-size: 14px;
    color: #FFFFFF;
  }
  /* line 977, ../components/sass/style.scss */
  .room-ap-row ul li:first-child {
    width: 177px;
    margin-right: 0px;
  }
  /* line 981, ../components/sass/style.scss */
  .room-ap-row ul li:last-child {
    width: 137px;
  }
  /* line 984, ../components/sass/style.scss */
  .room-ap-row .icon {
    width: 47px;
    height: 47px;
    border: 2px solid #FFFFFF;
    border-radius: 80px;
    text-align: center;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 13px;
  }
  /* line 998, ../components/sass/style.scss */
  .room-ap-row .nav-pills {
    margin-bottom: 10px;
    text-align: left;
  }

  /* line 1004, ../components/sass/style.scss */
  .box .btn {
    font-size: 18px;
    padding: 8px 27px;
    border-radius: 12px;
    width: 150px;
    margin-bottom: 10px;
  }

  /* line 1013, ../components/sass/style.scss */
  .box .btn-default {
    border: none;
    font-weight: bold;
  }

  /* line 1017, ../components/sass/style.scss */
  .box .btn-details {
    border: 2px solid #FFFFFF;
    background-color: transparent;
    color: #FFFFFF !important;
    padding: 6px 25px;
    margin-right: 10px;
  }

  /* main-bar */
  /* line 1026, ../components/sass/style.scss */
  .main-bar {
    background-color: #8DC644;
    -moz-border-radius-bottomright: 12px;
    -webkit-border-bottom-right-radius: 12px;
    border-bottom-right-radius: 12px;
    -moz-border-radius-bottomleft: 12px;
    -webkit-border-bottom-left-radius: 12px;
    border-bottom-left-radius: 12px;
    width: 262px;
    height: 628px;
    position: fixed;
    display: block;
    top: 0;
    left: 79px;
    z-index: 999999;
  }
  /* line 1041, ../components/sass/style.scss */
  .main-bar .padding {
    padding: 0 21px 21px 21px;
  }
  /* line 1044, ../components/sass/style.scss */
  .main-bar .aventura-brand {
    background-color: #FFFFFF;
    min-height: 250px;
    border-radius: 8px;
    margin-top: 5px;
    text-align: center;
    padding: 12px 0;
  }
  /* line 1052, ../components/sass/style.scss */
  .main-bar .aventura-tube {
    position: absolute;
    left: 6px;
    margin-top: 10px;
  }

  /* line 1059, ../components/sass/style.scss */
  .navbar-fixed-top {
    top: 330px;
    border-width: 0 0 1px;
    width: 220px;
    left: 100px;
    z-index: 99999999;
  }

  /* line 1067, ../components/sass/style.scss */
  .navbar-default {
    background-color: transparent;
    border: none;
  }

  /* line 1071, ../components/sass/style.scss */
  .navbar-toggle {
    border: none;
    border-radius: 7px;
    width: 95px;
    height: 40px;
    background-color: white;
    margin-top: 0;
    margin-left: 0px;
    float: left !important;
  }
  /* line 1080, ../components/sass/style.scss */
  .navbar-toggle p {
    float: right;
    margin-top: -21px;
    font-size: 18px;
    color: #8DC644;
    font-weight: bold;
  }
  /* line 1088, ../components/sass/style.scss */
  .navbar-toggle .icon-bar {
    background-color: #8DC644 !important;
    margin-top: 5px;
    width: 18px;
  }

  /* line 1094, ../components/sass/style.scss */
  .navbar-nav {
    margin: 0 -15px;
  }

  /* line 1098, ../components/sass/style.scss */
  .navbarIcons {
    text-indent: -3000px;
  }
  /* line 1101, ../components/sass/style.scss */
  .navbarIcons li {
    background-repeat: no-repeat !important;
    width: 25px;
    margin-right: 6px;
    background-size: 131px 34px;
  }
  /* line 1108, ../components/sass/style.scss */
  .navbarIcons li.phone {
    background: url(../images/aventura-mobil-nav-icons-sprite.svg);
    background-position: -11px center;
  }
  /* line 1112, ../components/sass/style.scss */
  .navbarIcons li.skype {
    background: url(../images/aventura-mobil-nav-icons-sprite.svg);
    background-position: -50px center;
  }
  /* line 1116, ../components/sass/style.scss */
  .navbarIcons li.email {
    background: url(../images/aventura-mobil-nav-icons-sprite.svg);
    margin-right: 2px;
    background-position: -90px center;
  }
  /* line 1121, ../components/sass/style.scss */
  .navbarIcons li.google {
    background: url(../images/aventura-mobil-nav-icons-sprite.svg);
    background-position: -133px center;
  }

  /* line 1127, ../components/sass/style.scss */
  .navbar-nav > li > a {
    padding-top: 0px;
    padding-bottom: 10px;
  }
}
@media (min-width: 500px) and (max-width: 991px) {
  /* line 1141, ../components/sass/style.scss */
  .facilities .nav li {
    width: 33%;
    justify-content: center;
  }
}
@media (min-width: 768px) {
  	/*.room-ap-row {
  		ul li {
  			text-align: left;
  			margin-bottom: 20px;
  		}
  ul li:first-child {
  	width: 150px;
  	margin-right: 10px;
  }
  ul li:last-child {
  	width: 130px;
  }
  
  }*/
}
@media (min-width: 1200px) {
  /* line 1174, ../components/sass/style.scss */
  .room-ap-row {
    margin-left: -60px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  /* line 1181, ../components/sass/style.scss */
  .room-ap-row {
    margin-left: 20px;
  }
}
