/* Scss Document */
@font-face {
  font-family: 'HelveticaNeueLT-Com-57-Cn';
  src: url("../fonts/HelveticaNeueLTCom-Cn.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/HelveticaNeueLTCom-Cn.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueLTCom-Cn.woff") format("woff"), url("../fonts/HelveticaNeueLTCom-Cn.ttf") format("truetype"), url("../fonts/HelveticaNeueLTCom-Cn.svg#1bfe3908464079d33e43d1bde3a33e17") format("svg");
  /* Legacy iOS */
  font-style: normal;
  font-weight: 400;
}
/* Scss Document */
/* room and ap colors*/
/* Scss Document */
/* line 21, ../components/sass/style.scss */
body {
  color: #4d4d4d;
}

/*.box .owl-theme .owl-controls {
	position: relative;
left: 170px;
top: -340px;
margin-top: 0;
}
*/
/* line 32, ../components/sass/style.scss */
.owl-rooms-aps .owl-item {
  max-height: 350px;
}

/* line 35, ../components/sass/style.scss */
.owl-rooms-aps .owl-item img {
  width: 100%;
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
}

/* line 40, ../components/sass/style.scss */
.owl-rooms-aps .item {
  height: 212px;
  border-radius: 12px;
}

/* line 44, ../components/sass/style.scss */
.padding-zero {
  padding: 0px;
}

/* line 48, ../components/sass/style.scss */
.padding-right-zero {
  padding-right: 0px;
  padding-left: 0px;
}

/* line 52, ../components/sass/style.scss */
.navbar-toggle {
  margin-left: 0px;
  height: 42px;
  margin-top: 9px;
}

/* line 59, ../components/sass/style.scss */
.navmenu, .navbar-offcanvas {
  width: 240px;
}

/* line 63, ../components/sass/style.scss */
.navbar-default .navbar-toggle {
  float: left;
  border: 2px solid solid;
  border-radius: 8px;
}

/* line 68, ../components/sass/style.scss */
.navbar {
  height: 60px;
}

/* line 71, ../components/sass/style.scss */
.navbar-brand {
  height: 40px;
  padding-top: 9px;
  padding-left: 15px;
  margin-right: 0px;
}

/* line 77, ../components/sass/style.scss */
.navbar-nav {
  margin: 10px 0px;
}

/* navbar icons */
/* line 81, ../components/sass/style.scss */
.navbar-right {
  float: right;
}

/* line 84, ../components/sass/style.scss */
.navbarIcons {
  text-indent: -3000px;
}
/* line 87, ../components/sass/style.scss */
.navbarIcons li {
  background-repeat: no-repeat !important;
  width: 40px;
  margin-right: 0;
  background-size: 164px 42px;
  float: left;
}
/* line 95, ../components/sass/style.scss */
.navbarIcons li.phone {
  background: url(../images/aventura-mobil-nav-icons-sprite.svg);
  background-position: -1px center;
}
/* line 99, ../components/sass/style.scss */
.navbarIcons li.skype {
  background: url(../images/aventura-mobil-nav-icons-sprite.svg);
  background-position: -41px center;
}
/* line 103, ../components/sass/style.scss */
.navbarIcons li.email {
  background: url(../images/aventura-mobil-nav-icons-sprite.svg);
  margin-right: -5px;
  background-position: -82px center;
}
/* line 108, ../components/sass/style.scss */
.navbarIcons li.google {
  background: url(../images/aventura-mobil-nav-icons-sprite.svg);
  background-position: -123px center;
  margin-right: 15px;
}

/*general info opening*/
/* line 117, ../components/sass/style.scss */
.general-info {
  padding: 45px 0;
}
/* line 119, ../components/sass/style.scss */
.general-info .row {
  margin-left: 0;
  margin-right: 0;
}

/* line 124, ../components/sass/style.scss */
.box-general-info {
  margin-bottom: 45px;
}
/* line 126, ../components/sass/style.scss */
.box-general-info h1 {
  color: #FFFFFF;
  font-size: 32px;
  font-weight: normal;
  margin-bottom: 20px;
  margin-top: 0px;
}

/* line 134, ../components/sass/style.scss */
.box-general-info:last-child {
  margin-bottom: 0px;
}

/* line 138, ../components/sass/style.scss */
.box-bouble {
  min-height: 15px;
  background-color: rgba(255, 255, 255, 0.85);
  border-radius: 12px;
  padding: 30px;
}
/* line 143, ../components/sass/style.scss */
.box-bouble .row {
  margin-right: -15px;
  margin-left: -15px;
}
/* line 147, ../components/sass/style.scss */
.box-bouble .btn {
  font-size: 18px;
  padding: 8px 27px;
  border-radius: 12px;
  border: solid 2px #8DC644;
  background-color: transparent;
  width: 100% !important;
  color: #8DC644;
  font-weight: bold;
  margin-bottom: 0px !important;
}
@media (min-width: 992px) {
  /* line 147, ../components/sass/style.scss */
  .box-bouble .btn {
    background-color: transparent;
    width: auto !important;
    color: #8DC644;
    font-weight: bold;
    margin-bottom: 0px !important;
  }
}

/* line 168, ../components/sass/style.scss */
.box-bouble:before {
  content: "";
  height: 10px;
  display: block;
  padding-top: 10px;
  position: absolute;
  margin-top: -40px;
  width: 100%;
  background-image: url(../images/aventura-triangle-white.png);
  background-position: 0 0;
  background-repeat: no-repeat;
  opacity: .85;
}

/*general info opening facilities*/
/* line 185, ../components/sass/style.scss */
.facilities .nav {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  text-align: center;
}
/* line 191, ../components/sass/style.scss */
.facilities .nav img {
  background-color: #8DC644;
  margin-bottom: 5px;
}
/* line 195, ../components/sass/style.scss */
.facilities .nav li {
  width: 49%;
  justify-content: center;
  color: #8DC644;
}
/* line 200, ../components/sass/style.scss */
.facilities .nav li p {
  margin-bottom: 20px;
}

/*general info opening awards*/
/* line 208, ../components/sass/style.scss */
.awards img {
  border-radius: 12px;
  border: 1px solid #cccccc;
}
/* line 212, ../components/sass/style.scss */
.awards .owl-carousel .owl-item {
  text-align: center;
}
/* line 215, ../components/sass/style.scss */
.awards .row {
  width: 100%;
  margin: 0 auto;
}
/* line 219, ../components/sass/style.scss */
.awards .row.row-margin {
  margin-bottom: 20px;
}
/* line 222, ../components/sass/style.scss */
.awards .owl-theme .owl-controls .owl-nav {
  display: none;
}
/* line 225, ../components/sass/style.scss */
.awards h3 {
  font-size: 18px;
  margin-top: 0px;
  font-weight: normal;
  margin-bottom: 25px;
}

/*general info opening awards*/
/* line 236, ../components/sass/style.scss */
.news h3, .reviews h3 {
  font-size: 18px;
  color: #8DC644;
  font-size: 18px;
}
@media (min-width: 992px) {
  /* line 236, ../components/sass/style.scss */
  .news h3, .reviews h3 {
    margin-top: 0px;
  }
}

/*general info opening reviews*/
/* line 250, ../components/sass/style.scss */
.box-bouble-outline {
  background-color: transparent;
  border: solid 2px #8DC644;
}

/* line 256, ../components/sass/style.scss */
.box-bouble-outline:before {
  position: relative;
  background-image: url(../images/aventura-triangle-green@2x.png);
  background-size: 18px 10px;
  background-position: center 0;
  opacity: 1;
  z-index: 3;
  margin-bottom: 30px;
}

/* line 267, ../components/sass/style.scss */
.reviews h3, .reviews small {
  text-align: center;
}
/* line 270, ../components/sass/style.scss */
.reviews small {
  display: block;
  margin-bottom: 20px;
}
/* line 274, ../components/sass/style.scss */
.reviews p {
  margin-bottom: 0px;
}
/* line 277, ../components/sass/style.scss */
.reviews .fa-user {
  font-size: 28px;
  text-align: center;
  color: #FFFFFF;
  margin: 0 auto;
  display: block;
  margin-bottom: 10px;
}
/* line 285, ../components/sass/style.scss */
.reviews i {
  width: 40px;
  height: 40px;
  background-color: #8DC644;
  border-radius: 120px;
  line-height: 1.3;
}

/*rooms and apps opening*/
/* line 295, ../components/sass/style.scss */
.box {
  min-height: 424px;
  border-radius: 12px;
  margin-bottom: 10px;
}

/* line 300, ../components/sass/style.scss */
.general-info {
  background-color: #8DC644;
}

/* line 304, ../components/sass/style.scss */
.africa-room {
  background-color: #FFBC01 !important;
}

/* line 307, ../components/sass/style.scss */
.india-room {
  background-color: #73108E;
}

/* line 310, ../components/sass/style.scss */
.space-room {
  background-color: #132060;
}

/* line 313, ../components/sass/style.scss */
.japan-room {
  background-color: #E50000;
}

/* line 316, ../components/sass/style.scss */
.rouge-ap {
  background-color: #BE0000;
}

/* line 319, ../components/sass/style.scss */
.art-retro-ap {
  background-color: #EB8300;
}

/* line 322, ../components/sass/style.scss */
.family-ap {
  background-color: #00B7EB;
}

/* line 325, ../components/sass/style.scss */
.logo {
  width: 150px;
  height: 150px;
  background-color: #fff;
  margin-top: -110px;
  position: relative;
  text-align: center;
  border-radius: 80px;
  z-index: 5;
  background-size: 1184px 149px;
}
/* line 337, ../components/sass/style.scss */
.logo .price {
  padding-top: 88px;
}
/* line 340, ../components/sass/style.scss */
.logo h4 {
  margin-top: -5px;
  font-size: 29px;
  font-weight: bold;
}
/* line 345, ../components/sass/style.scss */
.logo .euro {
  font-size: 15px;
  font-weight: lighter;
}
/* line 349, ../components/sass/style.scss */
.logo .small {
  margin: 0px;
  padding: 0px;
}

/* line 354, ../components/sass/style.scss */
.logo.africaLogo h4 {
  color: #FFBC01;
}

/* line 357, ../components/sass/style.scss */
.logo.indiaLogo h4 {
  color: #73108E;
}

/* line 360, ../components/sass/style.scss */
.logo.spaceLogo h4 {
  color: #132060;
}

/* line 363, ../components/sass/style.scss */
.logo.japanLogo h4 {
  color: #E50000;
}

/* line 366, ../components/sass/style.scss */
.logo.rougeLogo h4 {
  color: #BE0000;
}

/* line 369, ../components/sass/style.scss */
.logo.artLogo h4 {
  color: #EB8300;
}

/* line 372, ../components/sass/style.scss */
.logo.retroLogo h4 {
  color: #EB8300;
}

/* line 375, ../components/sass/style.scss */
.logo.familyLogo h4 {
  color: #00B7EB;
}

/* line 379, ../components/sass/style.scss */
.logo.africaLogo {
  background-image: url(../images/aventura-rooms-aps-logos-sprite.svg);
  background-position: 0px center;
}

/* line 383, ../components/sass/style.scss */
.logo.indiaLogo {
  background-image: url(../images/aventura-rooms-aps-logos-sprite.svg);
  background-position: -147px center;
}

/* line 387, ../components/sass/style.scss */
.logo.spaceLogo {
  background-image: url(../images/aventura-rooms-aps-logos-sprite.svg);
  background-position: -443px center;
}

/* line 391, ../components/sass/style.scss */
.logo.japanLogo {
  background-image: url(../images/aventura-rooms-aps-logos-sprite.svg);
  background-position: -295px center;
}

/* line 395, ../components/sass/style.scss */
.logo.rougeLogo {
  background-image: url(../images/aventura-rooms-aps-logos-sprite.svg);
  background-position: -591px center;
}

/* line 399, ../components/sass/style.scss */
.logo.artLogo {
  background-image: url(../images/aventura-rooms-aps-logos-sprite.svg);
  background-position: -887px center;
}

/* line 403, ../components/sass/style.scss */
.logo.retroLogo {
  background-image: url(../images/aventura-rooms-aps-logos-sprite.svg);
  background-position: -739px center;
}

/* line 407, ../components/sass/style.scss */
.logo.familyLogo {
  background-image: url(../images/aventura-rooms-aps-logos-sprite.svg);
  background-position: -1035px center;
}

/* line 412, ../components/sass/style.scss */
.room-ap-row {
  display: table !important;
  width: 100%;
  margin: 0;
}
/* line 416, ../components/sass/style.scss */
.room-ap-row ul li {
  min-height: 35px;
  font-size: 20px;
  color: #FFFFFF;
  line-height: 1.5;
  margin-bottom: 10px;
  display: inline-block;
}
/* line 424, ../components/sass/style.scss */
.room-ap-row ul li span {
  font-size: 12px;
  color: #FFFFFF;
  line-height: 80%;
}
/* line 429, ../components/sass/style.scss */
.room-ap-row ul li:first-child {
  width: auto;
  margin-right: 10px;
}
/* line 433, ../components/sass/style.scss */
.room-ap-row ul li:last-child {
  width: auto;
}
/* line 436, ../components/sass/style.scss */
.room-ap-row .icon {
  width: 30px;
  height: 30px;
  border: 2px solid #FFFFFF;
  border-radius: 80px;
  text-align: center;
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}
/* line 448, ../components/sass/style.scss */
.room-ap-row ul li img {
  width: 70%;
  height: 70%;
}
/* line 452, ../components/sass/style.scss */
.room-ap-row .nav-pills {
  margin-bottom: 5px;
  margin-top: 15px;
  text-align: center;
}
/* line 456, ../components/sass/style.scss */
.room-ap-row .nav-pills li {
  float: none;
}

/* line 462, ../components/sass/style.scss */
.box .media-left {
  padding-right: 0;
}

/* line 466, ../components/sass/style.scss */
.box .btn {
  font-size: 18px;
  padding: 8px 27px;
  border-radius: 12px;
  width: 48%;
  margin-bottom: 10px;
}

/* line 475, ../components/sass/style.scss */
.box .btn-default {
  border: none;
  font-weight: bold;
}

/* line 479, ../components/sass/style.scss */
.box .btn-details {
  border: 2px solid #FFFFFF;
  background-color: transparent;
  color: #FFFFFF !important;
  padding: 6px 25px;
  margin-right: 5px;
}

/* line 486, ../components/sass/style.scss */
.africa-room .btn-default {
  color: #FFBC01;
}

/* line 489, ../components/sass/style.scss */
.india-room .btn-default {
  color: #73108E;
}

/* line 492, ../components/sass/style.scss */
.space-room .btn-default {
  color: #132060;
}

/* line 495, ../components/sass/style.scss */
.japan-room .btn-default {
  color: #E50000;
}

/* line 498, ../components/sass/style.scss */
.rouge-ap .btn-default {
  color: #BE0000;
}

/* line 501, ../components/sass/style.scss */
.art-retro-ap .btn-default {
  color: #EB8300;
}

/* line 504, ../components/sass/style.scss */
.family-ap .btn-default {
  color: #00B7EB;
}

/* line 507, ../components/sass/style.scss */
.padding-xs {
  padding-right: 15px;
  padding-left: 15px;
}

@media (min-width: 0) {
  /* line 519, ../components/sass/style.scss */
  .navbar-toggle {
    display: block;
    /* force showing the toggle */
  }
}
@media (min-width: 992px) {
  /*general info opening awards*/
  /* line 526, ../components/sass/style.scss */
  .awards .owl-theme .owl-controls .owl-dots, .news .owl-theme .owl-controls .owl-dots, .reviews .owl-theme .owl-controls .owl-dots {
    display: none !important;
  }

  /* line 531, ../components/sass/style.scss */
  .awards .owl-theme .owl-controls .owl-nav .owl-prev, .news .owl-theme .owl-controls .owl-nav .owl-prev, .reviews .owl-theme .owl-controls .owl-nav .owl-prev {
    left: -35px;
    background-image: url(../images/aventura-carusel-arrow-left.svg);
  }
  /* line 536, ../components/sass/style.scss */
  .awards .owl-theme .owl-controls .owl-nav .owl-next, .news .owl-theme .owl-controls .owl-nav .owl-next, .reviews .owl-theme .owl-controls .owl-nav .owl-next {
    right: -35px;
    background-image: url(../images/aventura-carusel-arrow-right.svg);
  }
  /* line 540, ../components/sass/style.scss */
  .awards .owl-theme .owl-controls .owl-nav .owl-next, .awards .owl-theme .owl-controls .owl-nav .owl-prev, .news .owl-theme .owl-controls .owl-nav .owl-next, .news .owl-theme .owl-controls .owl-nav .owl-prev, .reviews .owl-theme .owl-controls .owl-nav .owl-next, .reviews .owl-theme .owl-controls .owl-nav .owl-prev {
    width: 22px;
    height: 22px;
    border-radius: 80px;
    top: 25px;
    position: absolute;
    text-indent: -40000px;
    background-position: center center;
    background-repeat: no-repeat;
  }
  /* line 550, ../components/sass/style.scss */
  .awards .row, .news .row, .reviews .row {
    width: 93%;
    margin: 0 auto;
  }
  /* line 554, ../components/sass/style.scss */
  .awards .owl-theme .owl-controls .owl-nav, .news .owl-theme .owl-controls .owl-nav, .reviews .owl-theme .owl-controls .owl-nav {
    display: block;
  }

  /*general info opening news*/
  /* line 561, ../components/sass/style.scss */
  .news .owl-theme .owl-controls .owl-nav .owl-prev, .reviews .owl-theme .owl-controls .owl-nav .owl-prev {
    right: 35px !important;
    left: auto;
    background-image: url(../images/aventura-carusel-arrow-left.svg);
  }
  /* line 566, ../components/sass/style.scss */
  .news .owl-theme .owl-controls .owl-nav .owl-next, .reviews .owl-theme .owl-controls .owl-nav .owl-next {
    right: 10px;
    background-image: url(../images/aventura-carusel-arrow-right.svg);
  }
  /* line 571, ../components/sass/style.scss */
  .news .row, .reviews .row {
    width: auto;
    margin: auto;
    margin-left: -15px;
    margin-right: -15px;
  }
  /* line 577, ../components/sass/style.scss */
  .news .owl-theme .owl-controls .owl-nav .owl-next, .news .owl-theme .owl-controls .owl-nav .owl-prev, .reviews .owl-theme .owl-controls .owl-nav .owl-next, .reviews .owl-theme .owl-controls .owl-nav .owl-prev {
    top: 0px;
    margin: 0px;
  }

  /* line 583, ../components/sass/style.scss */
  .facilities .nav li {
    width: 16.6%;
    justify-content: center;
  }

  /* line 588, ../components/sass/style.scss */
  .padding-right-zero {
    padding-right: 0px;
    padding-left: 15px;
  }

  /* line 592, ../components/sass/style.scss */
  .padding-xs {
    padding-right: 0px;
    padding-left: 0px;
  }

  /*rooms and apps opening*/
  /* line 598, ../components/sass/style.scss */
  .box {
    min-height: 350px;
    border-radius: 12px;
    margin-bottom: 10px;
  }

  /* line 604, ../components/sass/style.scss */
  .logo {
    width: 230px;
    height: 230px;
    background-color: #fff;
    top: 60px;
    left: -115px;
    position: absolute;
    text-align: center;
    border-radius: 180px;
    z-index: 5;
    background-size: 1835px 231px;
    margin-top: 0px;
  }
  /* line 617, ../components/sass/style.scss */
  .logo .price {
    padding-top: 140px;
  }
  /* line 620, ../components/sass/style.scss */
  .logo h4 {
    margin-top: 0px;
    font-size: 43px;
    font-weight: bold;
  }
  /* line 625, ../components/sass/style.scss */
  .logo .euro {
    font-size: 15px;
    font-weight: lighter;
  }
  /* line 629, ../components/sass/style.scss */
  .logo .small {
    margin: 0px;
    padding: 0px;
  }

  /* line 635, ../components/sass/style.scss */
  .logo.africaLogo {
    background-image: url(../images/aventura-rooms-aps-logos-sprite.svg);
    background-position: 0px center;
  }

  /* line 639, ../components/sass/style.scss */
  .logo.indiaLogo {
    background-image: url(../images/aventura-rooms-aps-logos-sprite.svg);
    background-position: -229px center;
  }

  /* line 643, ../components/sass/style.scss */
  .logo.spaceLogo {
    background-image: url(../images/aventura-rooms-aps-logos-sprite.svg);
    background-position: -688px center;
  }

  /* line 647, ../components/sass/style.scss */
  .logo.japanLogo {
    background-image: url(../images/aventura-rooms-aps-logos-sprite.svg);
    background-position: -295px center;
  }

  /* line 651, ../components/sass/style.scss */
  .logo.rougeLogo {
    background-image: url(../images/aventura-rooms-aps-logos-sprite.svg);
    background-position: -591px center;
  }

  /* line 655, ../components/sass/style.scss */
  .logo.artLogo {
    background-image: url(../images/aventura-rooms-aps-logos-sprite.svg);
    background-position: -887px center;
  }

  /* line 659, ../components/sass/style.scss */
  .logo.retroLogo {
    background-image: url(../images/aventura-rooms-aps-logos-sprite.svg);
    background-position: -739px center;
  }

  /* line 663, ../components/sass/style.scss */
  .logo.familyLogo {
    background-image: url(../images/aventura-rooms-aps-logos-sprite.svg);
    background-position: -1035px center;
  }

  /* line 668, ../components/sass/style.scss */
  .room-ap-row {
    display: table !important;
    height: 350px;
  }
  /* line 671, ../components/sass/style.scss */
  .room-ap-row ul li {
    min-height: 47px;
    font-size: 20px;
    color: #FFFFFF;
    line-height: 100%;
    margin-bottom: 10px;
  }
  /* line 678, ../components/sass/style.scss */
  .room-ap-row ul li span {
    font-size: 14px;
    color: #FFFFFF;
  }
  /* line 682, ../components/sass/style.scss */
  .room-ap-row ul li:first-child {
    width: 177px;
    margin-right: 0px;
  }
  /* line 686, ../components/sass/style.scss */
  .room-ap-row ul li:last-child {
    width: 137px;
  }
  /* line 689, ../components/sass/style.scss */
  .room-ap-row .icon {
    width: 47px;
    height: 47px;
    border: 2px solid #FFFFFF;
    border-radius: 80px;
    text-align: center;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 13px;
  }
  /* line 703, ../components/sass/style.scss */
  .room-ap-row .nav-pills {
    margin-bottom: 10px;
    text-align: left;
  }

  /* line 709, ../components/sass/style.scss */
  .box .btn {
    font-size: 18px;
    padding: 8px 27px;
    border-radius: 12px;
    width: 150px;
    margin-bottom: 10px;
  }

  /* line 718, ../components/sass/style.scss */
  .box .btn-default {
    border: none;
    font-weight: bold;
  }

  /* line 722, ../components/sass/style.scss */
  .box .btn-details {
    border: 2px solid #FFFFFF;
    background-color: transparent;
    color: #FFFFFF !important;
    padding: 6px 25px;
    margin-right: 10px;
  }

  /* main-bar */
  /* line 731, ../components/sass/style.scss */
  .main-bar {
    background-color: #8DC644;
    -moz-border-radius-bottomright: 12px;
    -webkit-border-bottom-right-radius: 12px;
    border-bottom-right-radius: 12px;
    -moz-border-radius-bottomleft: 12px;
    -webkit-border-bottom-left-radius: 12px;
    border-bottom-left-radius: 12px;
    width: 262px;
    height: 628px;
    position: fixed;
    display: block;
    top: 0;
    left: 79px;
    z-index: 999999;
  }
  /* line 746, ../components/sass/style.scss */
  .main-bar .padding {
    padding: 0 21px 21px 21px;
  }
  /* line 749, ../components/sass/style.scss */
  .main-bar .aventura-brand {
    background-color: #FFFFFF;
    min-height: 250px;
    border-radius: 8px;
    margin-top: 5px;
    text-align: center;
    padding: 12px 0;
  }
  /* line 757, ../components/sass/style.scss */
  .main-bar .aventura-tube {
    position: absolute;
    left: 6px;
    margin-top: 10px;
  }

  /* line 764, ../components/sass/style.scss */
  .navbar-fixed-top {
    top: 330px;
    border-width: 0 0 1px;
    width: 220px;
    left: 100px;
    z-index: 99999999;
  }

  /* line 772, ../components/sass/style.scss */
  .navbar-default {
    background-color: transparent;
    border: none;
  }

  /* line 776, ../components/sass/style.scss */
  .navbar-toggle {
    border: none;
    border-radius: 7px;
    width: 95px;
    height: 40px;
    background-color: white;
    margin-top: 0;
    margin-left: 0px;
    float: left !important;
  }
  /* line 785, ../components/sass/style.scss */
  .navbar-toggle p {
    float: right;
    margin-top: -21px;
    font-size: 18px;
    color: #8DC644;
    font-weight: bold;
  }
  /* line 793, ../components/sass/style.scss */
  .navbar-toggle .icon-bar {
    background-color: #8DC644 !important;
    margin-top: 5px;
    width: 18px;
  }

  /* line 799, ../components/sass/style.scss */
  .navbar-nav {
    margin: 0 -15px;
  }

  /* line 803, ../components/sass/style.scss */
  .navbarIcons {
    text-indent: -3000px;
  }
  /* line 806, ../components/sass/style.scss */
  .navbarIcons li {
    background-repeat: no-repeat !important;
    width: 25px;
    margin-right: 6px;
    background-size: 131px 34px;
  }
  /* line 813, ../components/sass/style.scss */
  .navbarIcons li.phone {
    background: url(../images/aventura-mobil-nav-icons-sprite.svg);
    background-position: -11px center;
  }
  /* line 817, ../components/sass/style.scss */
  .navbarIcons li.skype {
    background: url(../images/aventura-mobil-nav-icons-sprite.svg);
    background-position: -50px center;
  }
  /* line 821, ../components/sass/style.scss */
  .navbarIcons li.email {
    background: url(../images/aventura-mobil-nav-icons-sprite.svg);
    margin-right: 2px;
    background-position: -90px center;
  }
  /* line 826, ../components/sass/style.scss */
  .navbarIcons li.google {
    background: url(../images/aventura-mobil-nav-icons-sprite.svg);
    background-position: -133px center;
  }

  /* line 832, ../components/sass/style.scss */
  .navbar-nav > li > a {
    padding-top: 0px;
    padding-bottom: 10px;
  }
}
@media (min-width: 500px) and (max-width: 991px) {
  /* line 846, ../components/sass/style.scss */
  .facilities .nav li {
    width: 33%;
    justify-content: center;
  }
}
@media (min-width: 768px) {
  	/*.room-ap-row {
  		ul li {
  			text-align: left;
  			margin-bottom: 20px;
  		}
  ul li:first-child {
  	width: 150px;
  	margin-right: 10px;
  }
  ul li:last-child {
  	width: 130px;
  }
  
  }*/
}
@media (min-width: 1200px) {
  /* line 879, ../components/sass/style.scss */
  .room-ap-row {
    margin-left: -60px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  /* line 886, ../components/sass/style.scss */
  .room-ap-row {
    margin-left: 20px;
  }
}
