/* Scss Document */


@import "compass/css3";
@import "variables";
@import "mixins";


.navbar-toggle {
margin-left: 15px;
height: 42px;
margin-top: 9px;
}


.navmenu, .navbar-offcanvas {
    width: 240px;
}

.navbar-default .navbar-toggle {
    float: right;
	border: 2px solid solid;
	border-radius: 8px;
}
.navbar {
    min-height: 60px;
}
.navbar-brand {
    height: 40px;
    padding-top: 9px;
	padding-left: 15px;
	margin-right: 15px;
}
.navbar-nav {
    margin: 10px -15px;
}
/* navbar icons */
.navbar-right {
	float: left;	
}
.navbarIcons {
	text-indent: -3000px;
	
	li {
		background-repeat:no-repeat !important;
		width: 40px;
		margin-right: 0;
		background-size: 164px 42px;
		float: left;
	}
	
	li.phone {
		background:url(../images/aventura-mobil-nav-icons-sprite.svg);
		background-position: -1px center; 	
	}
	li.skype {
		background:url(../images/aventura-mobil-nav-icons-sprite.svg);
		background-position: -41px center; 	
	}
	li.email {
		background:url(../images/aventura-mobil-nav-icons-sprite.svg);
		margin-right: -5px;
		background-position: -82px center; 	
	}
	li.google {
		background:url(../images/aventura-mobil-nav-icons-sprite.svg);
		background-position: -123px center; 	
		margin-right: 15px;
	}
	
}

	/*rooms and apps opening*/
	.box {
	height: 350px;	
	border-radius: 12px;
	margin-bottom: 10px;
		}
	.africa-room{
	background-color: $color-africa !important;	
	}
	.india-room{
	background-color: $color-india;	
	}
.space-room{
	background-color: $color-space;	
	}
.japan-room{
	background-color: $color-japan;	
	}
.rouge-ap{
	background-color: $color-rouge;	
	}
.art-retro-ap{
	background-color: $color-artRetro;	
	}
.family-ap{
	background-color: $color-family;	
	}


@media (max-width: 767px) {
}




@media (min-width: 0) {
  .navbar-toggle {
    display: block; /* force showing the toggle */
  }
}

@media (min-width: 992px) {
		

	
	/* main-bar */
	.main-bar{
		background-color: $color-primary;
		-moz-border-radius-bottomright: 12px;
		-webkit-border-bottom-right-radius: 12px;
		border-bottom-right-radius: 12px;
		-moz-border-radius-bottomleft: 12px;
		-webkit-border-bottom-left-radius: 12px;
		border-bottom-left-radius: 12px;
		width: 262px;
		height: 628px;
		position: fixed;
		display: block;
		top:0 ;
		left:79px;
		z-index: 999999;
		.padding {
			padding: 0 21px 21px 21px;
		}
		.aventura-brand {
		background-color: $color-white;	
		min-height: 250px;
		border-radius: 8px;
		margin-top: 5px;
		text-align: center;
		padding: 12px 0 ;
		}
			.aventura-tube {
				position: absolute;
				left: 6px;
				margin-top: 10px;
			}
	}
	
	.navbar-fixed-top {
    top: 330px;
    border-width: 0 0 1px;
    width: 220px;
    left: 100px;
    z-index: 99999999;
}

.navbar-default {
    background-color: transparent;
    border: none;
}
.navbar-toggle {
	border: none;
	border-radius: 7px;
	width: 100px;
	height: 40px;
	background-color: white;	
	margin-top: 0;
	margin-left: 0px;
	float: left !important;
	p {
	float: right;
	margin-top: -21px;	
	font-size: 18px;
	color: $color-primary;
	font-weight:bold;
	
	}
	.icon-bar {
		background-color: $color-primary !important;
		margin-top: 5px;
	}
}
	.navbar-nav {
    margin: 0 -15px;
}
	
	.navbarIcons {
	text-indent: -3000px;
	
	li {
		background-repeat:no-repeat !important;
		width: 25px;
		margin-right: 6px;
		background-size: 131px 34px;
	}
	
	li.phone {
		background:url(../images/aventura-mobil-nav-icons-sprite.svg);
		background-position: -11px center; 	
	}
	li.skype {
		background:url(../images/aventura-mobil-nav-icons-sprite.svg);
		background-position: -50px center; 	
	}
	li.email {
		background:url(../images/aventura-mobil-nav-icons-sprite.svg);
		margin-right: 2px;
		background-position: -90px center; 	
	}
	li.google {
		background:url(../images/aventura-mobil-nav-icons-sprite.svg);
		background-position: -133px center; 	
	}
}

	.navbar-nav > li > a {
    padding-top:10px;
    padding-bottom: 10px;
}
}

@media (max-width: 991px) {
	

}



@media (max-width: 479px) {
	
}

@media (max-width: 767px) {
	

}




@media (min-width: 1200px) {

}

