/* Scss Document */

@font-face {
  font-family: 'HelveticaNeueLT-Com-57-Cn';
  src: url('../fonts/HelveticaNeueLTCom-Cn.eot'); /* IE9 Compat Modes */
  src: url('../fonts/HelveticaNeueLTCom-Cn.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/HelveticaNeueLTCom-Cn.woff') format('woff'), /* Modern Browsers */
       url('../fonts/HelveticaNeueLTCom-Cn.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/HelveticaNeueLTCom-Cn.svg#1bfe3908464079d33e43d1bde3a33e17') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}



@import "compass/css3";
@import "variables";
@import "mixins";

body {
color: $text-color-gray;	
}


.box-general-info .box-bouble {
	.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: $color-primary !important;
}
.owl-theme .owl-dots .owl-dot span {
	background: $light-color-gray !important;
}
}

/* navigation*/

a:focus, a:hover, a:active {
    color: $color-primary;
	outline: none;
}

.navbar {
	margin: 0; 
	min-height: 30px;
 }
 .navmenu-default .navmenu-nav > .open > a, .navbar-default .navbar-offcanvas .navmenu-nav > .open > a, .navmenu-default .navmenu-nav > .open > a:hover, .navbar-default .navbar-offcanvas .navmenu-nav > .open > a:hover, .navmenu-default .navmenu-nav > .open > a:focus, .navbar-default .navbar-offcanvas .navmenu-nav > .open > a:focus {
	background-color: transparent;
	color: $color-white;
}

 .dropdown-menu {
    display: none;
    background-clip: padding-box;
    position: relative;
    z-index: 1000;
    min-width: 100%;
    padding: 5px 0px;
    font-size: 13px;
    text-align: left;
    list-style: outside none none;
    background-color: $dark-color-gray;
    left: 0px;
    top: 100%;
	width: 100%;
	box-shadow: none;
	border-radius: 0px;
	border: none;
	margin-bottom: 15px;
	margin-top: 0px;
}

.secondary-nav .navbar-nav .dropdown-menu > li {
	width: auto;
}

.dropdown-menu > li > a {
	white-space: normal !important;
	color: $mid-color-gray;
	padding: 8px 20px 8px 15px;
	
	span {
		font-size: 12px;
		display: block;
	}
}

/*.dropdown-menu > li {
 a.africa-room-menu {
	border-left: 4px solid $color-africa;
}
 a.india-room-menu {
	border-left: 4px solid $color-india;
}
 a.space-room-menu {
	border-left: 4px solid $color-space;
}
 a.japan-room-menu {
	border-left: 4px solid $color-japan;
}

}*/
.navmenu-brand {
	margin-top: 0px;
	i {
		    width: 44px;
    height: 44px;
    display: block;
    text-align: center;
    border-radius: 8px;
    border: 2px solid $color-primary;
    line-height: 1.8;
	background-color: white;
}
img {
width: 28px;
height: 28px;	
}
	
}

.navmenu-default, .navbar-default .navbar-offcanvas {
    background-color: #4A4A4A;
    border-color: transparent;
	background-image: linear-gradient(-90deg, rgba(0,0,0,0.15) 0%, #4A4A4A 10%);
}

.navmenu-nav > li > a {
    position: relative;
    display: block;
    padding: 14px 15px 10px 15px;
    font-size: 16px;
}
.navmenu-default .navmenu-nav > li > a, .navbar-default .navbar-offcanvas .navmenu-nav > li > a {
    color: $light-3-color-white;
}
.glyphicon-plus {
	color: 	$dark-color-gray;
	float: right;
}

.dropdown, .dropup {
    border-bottom: 1px solid $dark-color-gray;	
}

.navmenu-nav li {
	 border-bottom: 1px solid $dark-color-gray;	
}
 
 .navmenu-default .navmenu-nav > li > a:hover, .navbar-default .navbar-offcanvas .navmenu-nav > li > a:hover, .navmenu-default .navmenu-nav > li > a:focus, .navbar-default .navbar-offcanvas .navmenu-nav > li > a:focus {
    color: $color-white;
    background-color: transparent;
}

 .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {

}

.dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover {
	color: $color-white;
	background-color: $color-primary;
}

.dropdown-menu.apartments-menu > li > a:focus, .dropdown-menu.apartments-menu > li > a:hover {
	color: $color-white;
	background-color: $color-artRetro;
}

.box-bouble {
	padding: 15px !important;
	
				@media (min-width: 992px) {
		padding: 30px !important;
	}
}
	.box-bouble:before {
		margin-top: -25px !important;
		
						@media (min-width: 992px) {
		margin-top: -40px !important;
	}
	}


/* general-info subpages*/


.general-info-subpage {
	margin-top: 15px;
	.box-bouble {
	background-color: $color-white;	
	}
	.box-bouble:before {
		opacity: 1;
	}
	.box-bouble-outline {
		border: solid 2px $light-color2-gray;
	}
	
	.reviews i.news-i {
	display: block;
	margin: 0 auto 10px auto;	
	text-align: center;
	line-height: 3;
		img {
	margin-bottom: 10px;
	width: 30px;
	height: 30px;

	}

	}
	.box-bouble-outline:before {
background-image: url(../images/aventura-triangle-gray@2x.png);
	}
.box-bouble-gray {
	background-color: $light-color3-gray;
}
.box-bouble-gray:before {
	background-image: url(../images/aventura-triangle-black@2x.png);
	margin-bottom: 30px;
	position: relative;
	opacity: .05;
}

.box-bouble-green {
	background-color: $color-primary; 
	color: $color-white;
	ul li:before {
      background-color: $color-white !important;
}

}
.box-bouble-green:before {
	background-image: url(../images/aventura-triangle-green-bouble@2x.png);
	margin-bottom: 30px;
	position: relative;
	opacity: 1;
}

.box-general-info {
	hr {
		border-top: 1px solid $light-color-gray;
	}
	a {
		color: $color-primary;
	}
 h2 {
color: $color-primary;	
font-weight: normal;
margin-top: 30px;
}
h3 {
	color: $color-primary;	
	font-size: 18px;
}
ul {
padding: 0 0 0 15px;	
list-style: none;
margin: 0;
}
ul li { 
   position:relative;
}
ul li:before {
      content:'';
      display: block;
      position: absolute;
      width: 6px;
      height:6px;
      border-radius:6px;
      left: -15px;
      top: .5em;
      background-color: $color-primary;
}
.box-bouble-gray {
	p:last-child {
	margin-bottom: 0;	
	}
}
}
.box-general-info h2:first-child {
margin-top: 0px;
}
	.box-bouble-container {
		margin-top: 30px;
		h3 {
		margin: 0px 0 20px 0;
	}
	}
	.box-bouble-container-center {
		h3 {
			margin-bottom: 10px;
		}
		h2 {
		text-align: center;	
		}
		.box-bouble-gray:before {
			background-position: center 0;
		}
	}
}


/*rooms aps subpages*/

.africa-room .facilities .nav li {
				@media (min-width: 768px) {
					width: 25%;
					justify-content: center;
				}
	}
	.japan-room .facilities .nav li, .family-ap .facilities .nav li {
				@media (min-width: 768px) {
					width: 20%;
					justify-content: center;
				}
	}
	
.africa-room .box-bouble .readmoreBtn {
	color: $color-africa;
	border-color:$color-africa;
	margin-top: 15px;
}

.africa-room .box-bouble .btn:hover, .africa-room .box-bouble .btn:active, .africa-room .box-bouble .btn:focus {
    background-color: $color-africa;
    color: #FFFFFF;
}
.india-room .box-bouble .readmoreBtn {
	color: $color-india;
	border-color:$color-india;
	margin-top: 15px;
}

.india-room .box-bouble .btn:hover, .india-room .box-bouble .btn:active, .india-room .box-bouble .btn:focus {
    background-color: $color-india;
    color: #FFFFFF;
}

.space-room .box-bouble .readmoreBtn {
	color: $color-space;
	border-color:$color-space;
	margin-top: 15px;
}

.space-room .box-bouble .btn:hover, .space-room .box-bouble .btn:active, .space-room .box-bouble .btn:focus {
    background-color: $color-space;
    color: #FFFFFF;
}

.japan-room .box-bouble .readmoreBtn {
	color: $color-japan;
	border-color:$color-japan;
	margin-top: 15px;
}

.japan-room .box-bouble .btn:hover, .japan-room .box-bouble .btn:active, .japan-room .box-bouble .btn:focus {
    background-color: $color-japan;
    color: #FFFFFF;
}

.rouge-ap .box-bouble .readmoreBtn {
	color: $color-rouge;
	border-color:$color-rouge;
	margin-top: 15px;
}

.rouge-ap .box-bouble .btn:hover, .rouge-ap .box-bouble .btn:active, .rouge-ap .box-bouble .btn:focus {
    background-color: $color-rouge;
    color: #FFFFFF;
}

.art-retro-ap .box-bouble .readmoreBtn {
	color: $color-artRetro;
	border-color:$color-artRetro;
	margin-top: 15px;
}

.art-retro-ap .box-bouble .btn:hover, .art-retro-ap .box-bouble .btn:active, .art-retro-ap .box-bouble .btn:focus {
    background-color: $color-artRetro;
    color: #FFFFFF;
}
.family-ap .box-bouble .readmoreBtn {
	color: $color-family;
	border-color:$color-family;
	margin-top: 15px;
}

.family-ap .box-bouble .btn:hover, .family-ap .box-bouble .btn:active, .family-ap .box-bouble .btn:focus {
    background-color: $color-family;
    color: #FFFFFF;
}

.box-room-wide.india-room, .box-room-wide.space-room, .box-room-wide.japan-room, .box-room-wide.rouge-ap, .box-room-wide.family-ap, .box-room-wide.art-retro-ap{
margin-top:15px;	
}

.box-room-wide.africa-room .box-prices-active {
		h6, span, p {
			color: $color-africa;
		}
}
.box-room-wide.india-room .box-prices-active {
		h6, span, p {
			color: $color-india;
		}
}
.box-room-wide.space-room .box-prices-active {
		h6, span, p {
			color: $color-space;
		}
}
.box-room-wide.japan-room .box-prices-active {
		h6, span, p {
			color: $color-japan;
		}
}
.box-room-wide.rouge-ap .box-prices-active {
		h6, span, p {
			color: $color-rouge;
		}
}
.box-room-wide.art-retro-ap .box-prices-active {
		h6, span, p {
			color: $color-artRetro;
		}
}

.box-room-wide.family-ap .box-prices-active {
		h6, span, p {
			color: $color-family;
		}
}
	
	.box-room-wide.africa-room .box-bouble-rooms-apps:before {
		
		background-color: transparent;
		background-image: url(../images/aventura-triangle-africa.svg);
		opacity: 1 !important;
	}
	.box-room-wide.india-room .box-bouble-rooms-apps:before {
		
		background-color: transparent;
		background-image: url(../images/aventura-triangle-india.svg);
		opacity: 1 !important;
	}
.box-room-wide.space-room .box-bouble-rooms-apps:before {
		
		background-color: transparent;
		background-image: url(../images/aventura-triangle-space.svg);
		opacity: 1 !important;
	}

.box-room-wide.japan-room .box-bouble-rooms-apps:before {
		
		background-color: transparent;
		background-image: url(../images/aventura-triangle-japan.svg);
		opacity: 1 !important;
	}
	.box-room-wide.rouge-ap .box-bouble-rooms-apps:before {
		
		background-color: transparent;
		background-image: url(../images/aventura-triangle-rouge.svg);
		opacity: 1 !important;
	}
	.box-room-wide.art-retro-ap .box-bouble-rooms-apps:before {
		
		background-color: transparent;
		background-image: url(../images/aventura-triangle-retro-art.svg);
		opacity: 1 !important;
	}
	.box-room-wide.family-ap .box-bouble-rooms-apps:before {
		
		background-color: transparent;
		background-image: url(../images/aventura-triangle-family.svg);
		opacity: 1 !important;
	}	

.box-room-wide  {
	padding-bottom: 120px;
	.sesional-prices {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content:space-between;
	}
	.box-prices{
		flex: 0 0 calc(50% - .15em);
		
					@media (min-width: 768px) {
			flex: 0 0 calc(33.3333% - .15em);
	}
		
			@media (min-width: 992px) {
			flex: 0 0 calc(16.6666% - .15em);
	}
	}
	
	.box-prices-top, .box-prices-bottom {
		min-height: 56px;
		background-color: $light-6-color-white;
		border-radius:6px;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
		margin-bottom: .15em;	
		text-align: center;
	}
	.box-prices-top {
		
		h6 {
			font-size: 16px;
			color: $color-white;
			margin-top:0;
			margin-bottom: -20px;
			display: block;
			width: 100%;
		}
			span {
				font-size: 12px;
				font-weight: normal;
				color: $color-white;
				display: block;
				line-height: 100%;
			}

	}
	.box-prices-bottom  {
		p {
			font-size: 34px;
			color: $color-white;
			margin-bottom: 0px		
			}
			span {
				font-size: 15px;
				font-weight: normal;
			}
	}
	
	.box-prices-active {
		background-color: $color-white;
	}
	
	.box-general-info h2 {
		font-size: 24px;
	}
	.box-bouble.box-bouble-rooms-apps {
		background-color: transparent;
		border: 2px solid $light-4-color-white;
	}
	
	
.logo {
			@media (min-width: 992px) {
				top: -120px;
				margin: auto;
				left: 0;
				right: 0;
	}
}
.room-ap-row {
	height: auto;	
}
.btn {
	width: 100% !important;
	@media (min-width: 992px) {
	width: 150px;
	}
}
.room-ap-row-wide {
	 .nav-pills {
	
	@media (min-width: 992px) {
margin-top: 140px;	
text-align: center;
	}
}
 ul li {
	text-align: left;
}
.room-ap-details li:first-child {
	 	@media (min-width: 992px) {
	width: 177px;
		}
}

.room-ap-details li:last-child {
	 width: 100% !important;
	 margin-left: 0px;
	 	@media (min-width: 992px) {
	width: inherit !important;
		}
}


.room-ap-details .btn-default {
	 	@media (min-width: 992px) {
	margin-top: -10px;
	margin-left: 10px;
		}
}

.facilities ul li {
	text-align: center;
	font-size: 14px;
	margin-bottom: 0;
}
.facilities .nav img {
	background-color: $light-6-color-white;
}

.facilities p {
	color: $color-white;
}
}
.box-bouble {
	background-color: $light-4-color-white;
	p {
		margin-bottom: 0;
	}
}
 .box-bouble:before {
	 opacity: .65
 }
 
 .room-ap-row  ul li:first-child {
	width: intherit
 }
}

.box-room-wide .owl-rooms-aps {
	
	.item {
		border-radius: 12px;
		-moz-border-radius-bottomright: 0px;
		-webkit-border-bottom-right-radius: 0px;
		border-bottom-right-radius: 0px;
		-moz-border-radius-bottomleft:0px;
		-webkit-border-bottom-left-radius: 0px;
		border-bottom-left-radius: 0px;

		
	}
	
			@media (min-width: 992px) {
	.item {
	height: 540px !important;	
	}
	.owl-item{
		max-height: 540px !important;
	}
			}
}

/*main carousel*/
#main-carousel {
.owl-item {
	
	max-height: 600px !important;
}
.owl-controls {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 15px;
	margin: auto;
}
.item {
background-size: cover;
background-repeat: no-repeat;
background-position: center center;	
height: 212px !important;
	@media (min-width: 992px) {
	height: 600px !important;
	}
}
}

/*.box .owl-theme .owl-controls {
	position: relative;
left: 170px;
top: -340px;
margin-top: 0;
}
*/

/* anim*/
	.navbar-fixed-top-test {
		 top: 0px !important;
}

.budapest{
		-moz-transition: all .3s  ease-in-out;
	-o-transition: all .3s  ease-in-out ;
	-webkit-transition: all .3s  ease-in-out;
	transition: all .3s ease-in-out ;

}
/* .navbar-fixed-top, .form-opening-moving{
		-moz-transition: all .4s  ease-in-out;
	-o-transition: all .4s  ease-in-out ;
	-webkit-transition: all .4s  ease-in-out;
	transition: all .4s ease-in-out ;
 }*/
.budapest-off {
	display: none;
}
.off {
	display: none;
}
.aventura-brand {
			-moz-transition: all .2s  ease ;
	-o-transition: all .2s  ease ;
	-webkit-transition: all .2s  ease;
	transition: all .2s  ease ;
}
.aventura-brand-small { 
min-height: 82px !important;
margin-top: -55px !important;
border-top-right-radius:0px !important;
border-top-left-radius: 0px !important;
}
.aventura-brand-small-rounded { 
border-radius: 8px  !important;

}

.main-bar-moving {
	border-top-right-radius:12px !important;
	border-top-left-radius: 12px !important;
}



.form-opening-moving {
	top: 185px !important;
}



/*footer*/

footer {
	color: $color-white;
	margin-bottom: 5px;
	h4 {
		margin-bottom: 15px;
		font-size: 16px;
	}
	.col-xs-12 {
		margin-bottom: 30px
	}

.gray {
	background-color: $text-color-gray ;	
	min-height: auto;
	padding: auto;
	padding-top: 30px;
	padding-bottom: 30px;
	display: flex;
	align-items: center;
	@media (min-width: 992px) {
		padding: 30px;
	}
i {
	height: 60px;
	width: 60px;
	border: 2px solid white;
	border-radius: 12px;
	display: inline-block;
	text-align: center;
	line-height: 3.5;	
	margin-bottom: 20px;
}
.mini-brand {
text-align: left;
	@media (min-width: 992px) {
		text-align: left;
	}
	p {
color: $light-4-color-white;
font-size: 12px;
	}
	a {
		color: $light-4-color-white;
	}
	a:hover, a:focus, a:active {
	color: $color-white;
	text-decoration: none;
	}
}
.flex{
	display: auto;

		@media (min-width: 992px) {
		display: flex;
		align-items: center;
	width: 100%;
		
	}

}
}
.nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: transparent;
	color: $color-white;
}
.nav > li > a {
    position: relative;
    display: block;
    padding: 5px 0px;
	color: $light-4-color-white;
}
.nav span {
display: block;
color: $color-white;
	
}
			ul.social {
				text-align:left;
				text-indent: -3000px;
				margin-bottom: 15px;
				padding-top: 5px;
			}
			ul.social li {
			display: inline-block;
			height: 40px;
			width: 40px;	
			border-radius: 6px;
			margin-right: 3px;
			margin-bottom: 5px;
			}
				ul.social li:last-child {
			margin-right: 0px;
			}
			ul.social li a:hover, ul li a:focus {
				background-color: transparent;
			}
			ul.social li.facebook {
				background-image: url(../images/aventura-mobil-footer-social-icons-sprite.svg);	
				background-color: #3B5A99;
				background-position: 0px center;
			}
			ul.social li.twitter {
				background-image: url(../images/aventura-mobil-footer-social-icons-sprite.svg);
				background-color: #4FD6FA;
				background-position: -39px center;
			}
			ul.social li.pinterest {
				background-image: url(../images/aventura-mobil-footer-social-icons-sprite.svg);
				background-color: #CC2127;
				background-position: -79px center;
			}
			ul.social li.tripadvisor {
				background-image: url(../images/aventura-mobil-footer-social-icons-sprite.svg);
				background-color: #4C8B38;
				background-position: -117px center;
			}
			ul.social li.googlePlus {
				background-image: url(../images/aventura-mobil-footer-social-icons-sprite.svg);
				background-color: #DD4B39;
				background-position: -156px center;
			}
}
.owl-rooms-aps .owl-item {
   max-height: 350px;
}
.owl-rooms-aps .owl-item img {
  width: 100%;
  border-top-right-radius: 12px;
   border-top-left-radius: 12px;
}
.owl-rooms-aps .item {
 height: 212px;
 border-radius: 12px;
 background-size: cover;
background-repeat: no-repeat;
background-position: center center;
		-moz-border-radius-bottomright: 0px;
		-webkit-border-bottom-right-radius: 0px;
		border-bottom-right-radius: 0px;
		-moz-border-radius-bottomleft:0px;
		-webkit-border-bottom-left-radius: 0px;
		border-bottom-left-radius: 0px;


 	@media (min-width: 992px) {
		height: 350px !important;
border-radius: 12px;
background-size: cover;
background-repeat: no-repeat;
background-position: center center;
-webkit-border-top-left-radius: 0px;
-webkit-border-bottom-left-radius: 0px;
-moz-border-radius-topleft: 0px;
-moz-border-radius-bottomleft: 0px;
border-top-left-radius: 0px;
border-bottom-left-radius: 0px;	}
 
}
.owl-theme.owl-rooms-aps .owl-controls {
    margin-top: -200px !important;
    position: absolute !important;
    margin-left: 7px !important;
	display: auto;
	@media (min-width: 992px) {
		margin-top: -340px !important;
		right: 15px !important;
	}
	
}

.box-room-wide .owl-theme.owl-rooms-aps .owl-controls {
    margin-top: -200px !important;
    position: absolute !important;
    margin-left: 7px !important;
	display: auto;
	@media (min-width: 992px) {
		margin-top: -530px !important;
		right: 15px !important;
	}
	
}


.owl-theme .owl-dots .owl-dot span {
	width: 12px;
height: 12px;
margin: 5px 3px;
background: $light-color-white !important
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: $light-2-color-white !important;
}


.padding-zero {
	padding:0px;
}

.padding-right-zero {
    padding-right: 0px;
    padding-left: 0px;
}
.navbar-toggle {
margin-left: 0px;
height: 42px;
margin-top: 9px;
}


.navmenu, .navbar-offcanvas {
    width: 200px;
}

.navbar-default .navbar-toggle {
    float: left;
	border: 2px solid solid;
	border-radius: 8px;
}
.navbar {
    height: 60px;
	border: none;
	box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.28);
	background-color: $color-white;
	@media (min-width: 992px) {
	box-shadow: none;
	}
}
.navbar-brand {
    height: 40px;
    padding-top: 9px;
	padding-left: 15px;
	margin-right: 0px;
	padding-right: 10px;
}
.navbar-nav {
    margin: 10px 0px;
}
/* navbar icons */
.navbar-right {
	float: right;	
}
.navbarIcons {
	
	li {
		background-repeat:no-repeat !important;
		width: 40px;
		margin-right: 5px;
		background-size: 164px 42px;
		float: left;
	}
	li a {
	text-indent: -3000px;	
	}
	
	li.phone {
		background:url(../images/aventura-mobil-nav-icons-sprite.svg);
		background-position: -1px center; 	
	}
	li.skype {
		background:url(../images/aventura-mobil-nav-icons-sprite.svg);
		background-position: -41px center; 	
	}
	li.email {
		background:url(../images/aventura-mobil-nav-icons-sprite.svg);
		margin-right: -3px;
		background-position: -82px center; 	
	}
	li.google {
		background:url(../images/aventura-mobil-nav-icons-sprite.svg);
		background-position: -123px center; 	
		margin-right: 5px;
	}
	
		.navbar-nav > li > a {
			text-indent: -300000px !important;
		}
}

/*form*/
.form-opening {
			@media (min-width: 992px) {
		}

	
	.form-opening-padding {
		@media (min-width: 992px) {
		padding:0 20px 20px 20px;
		-moz-border-radius-bottomright: 12px;
		-webkit-border-bottom-right-radius: 12px;
		border-bottom-right-radius: 12px;
		-moz-border-radius-bottomleft: 12px;
		-webkit-border-bottom-left-radius: 12px;
		border-bottom-left-radius: 12px;
		background-color: $color-primary;
/*	-moz-transition: all .3s  ease-in-out;
	-o-transition: all .3s  ease-in-out ;
	-webkit-transition: all .3s  ease-in-out;
	transition: all .3s ease-in-out ;
*/		}
	}
label {
    font-weight: normal;
	font-size: 16px;
			@media (min-width: 992px) {
				font-size: 14px;
				color: $light-4-color-white;
	}

	
}
h2 {
		@media (min-width: 992px) {
			font-size: 18px;
			color: $color-white;
			text-align: center;
			margin-top: 8px
	}
	span {
		font-size: 13px;
		display: block;
	}
}
.form-group {
			@media (min-width: 992px) {
	margin-bottom: 3px;
}
}
.form-control {
	@include trans-button;
    display: block;
    width: 100%;
    height: 38px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857;
    color: #555;
    background-color: #EFEFEF;
    background-image: none;
    border: 1px solid #999;
    border-radius: 8px;
    box-shadow: none;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
		-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
			@media (min-width: 992px) {
    			height: 35px;
				border: none;
				background-color: $light-4-color-white;
				color: $color-primary;
	}
}
	.form-control:focus  {
		background-color: $light-3-color-white;
		color: $color-white;
	}


.btn-form {
    border-radius: 12px;
	height: 38px;
	background-color: $color-primary;
	color: $color-white;
	font-size: 16px;
	font-weight: bold;
	border: none;
	width: 100%;
			@media (min-width: 992px) {
	background-color: $color-white;
	color: $color-primary;
	height: 35px;
	border-radius: 8px;
	}
	
}
.btn-form.active, .btn-form.focus, .btn-form:active, .btn-form:focus, .btn-form:hover, .open > .dropdown-toggle.btn-default {
    color: $color-white;
	background-color: $color-primary;
				@media (min-width: 992px) {
	background-color: $color-white;
	color: $color-primary;
	}

}
.form-control:focus {
    border-color: $color-primary;
    outline: 0px none;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba($color-primary, 0.6);
}

.checkIn {
		background-image: url(../images/aventura-mobil-checkInBg.svg);
		background-repeat: no-repeat;
		background-position: 95% 3px;
}
	@media (min-width: 992px) {
				position: fixed;
				left: 79px;
				top: 375px;
				z-index: 9999999;
				width: 262px;
				
	}
}
.form-control::-moz-placeholder {
	@media (min-width: 992px) {
    color: $color-primary;
    opacity: 1;
	}
}

/*general info opening*/


.well {
    min-height: 20px;
    padding: 0px;
    margin-bottom: 0px;
    background-color: transparent;
    border:none;
    border-radius: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: none;
}


.box-general-info .slogan {
	h2 {
		color: $color-primary;
		font-size: 26px;
		font-weight: normal;
		margin-bottom: 0 !important;
	}
	span {
    margin-top: -5px;
	color:$fade-color-primary;
	@media (min-width: 768px) {
	    display: block;
	}
}
}
	.box-room-wide .box-general-info h2 {
	font-weight: 200;
	color: $color-white;
	}

.general-info {
	padding: 45px 0;	
	.row {
	margin-left: 0;
	margin-right: 0;	
	}
}
.box-general-info {
	margin-bottom:45px;
	h1, h2 {
		color: $color-white;
		font-size: 32px;
		font-weight: 200;
		margin-bottom: 20px;
		margin-top: 0px;
	}
	h2 {
	font-size: 24px;	
	font-weight: normal;
	color: $color-primary;
	}
	.news h2 {
	margin-bottom: 10px;
	}
}
	.box-general-info:last-child {
	margin-bottom: 0px;
		}

.box-bouble {
	min-height: 15px;
	background-color: $light-2-color-white;
	border-radius: 12px;
	padding: 30px;
	.row {
    margin-right: -15px;
    margin-left: -15px;
}
	.btn {
		@include trans-button;
		font-size: 18px;
		padding: 8px 27px;
		border-radius: 12px;
		border: solid 2px $color-primary;
			background-color: transparent;
			width: 100% !important;
			color: $color-primary;
			font-weight: bold;
			margin-bottom: 0px !important;
			

		
		@media (min-width: 992px) {
			background-color: transparent;
			width: auto !important;
			color: $color-primary;
			font-weight: bold;
			margin-bottom: 0px !important;
		}
	}
	.btn:hover, .btn:active, .btn:focus {
		background-color: $color-primary;
		color: $color-white;
	}
}

.box-bouble:before {
	 content: "";
	height: 10px;
	display: block;
	padding-top: 10px;
	position: absolute;
	margin-top: -40px;
	width: 100%;
	background-image: url(../images/aventura-triangle-white.png);
	background-position: 0 0;
	background-repeat: no-repeat;
	opacity: .85;
	}
	
	/*general info opening facilities*/
	
	.facilities  {
	.nav {
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
		text-align: center;
	}
	.nav img {
		background-color: $color-primary;	
		margin-bottom: 5px;
	}
	.nav li {
	width: 49%;
	justify-content: center;
	color: $color-primary;	
	}
	.nav li p {
		margin-bottom: 20px;
		color: $text-color-gray;
	}
	}
	
	/*general info opening directions*/
	.direction {
	.img-rounded	{
		border-radius: 12px;
	}
	}
	
	/*general info opening discount*/
	
	.packages {
		padding-bottom: 0;
		.flex {
			display: flex;
			flex-direction:row;
			justify-content: space-around;
		}
		.item{
			margin-right: 5px;
			margin-left: 5px;
			padding-top: 20px;
			padding-bottom: 30px;
		}
		
		.col-lg-12 {
			margin-top: -20px
		}
		.owl-item {
			padding-bottom: 30px;
		}
		
		
		
		.owl-controls {
			@media (min-width: 992px) {
			display: none;
			}
		}
	}
	
	.discount-box {
	width: 100%;
	min-height: 260px;
	background-color: $color-primary;
	border-radius: 12px;
	background-image: url(../images/aventura-discounts-bg.svg);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 143px 143px;
	text-align: center;
	
}
 .discount-box h2 {
font-family: Arial, Helvetica, sans-serif;
font-size: 18px;
color: #FFFFFF;
line-height: 22px;	
font-weight: normal;
text-align: center;
padding-top: 7px;
margin-top: 5px;
margin-bottom: 15px;
}

.packages .discount {
	position: relative;
	margin-top: 22px;
	text-align: center;
	width: 100%;
}
.packages .discount h3 {
	font-size: 72px;
	font-weight: bold;
	letter-spacing: 0em;
	padding-bottom: 0px;
	padding-top: 0px;
	color:  $color-primary;
	margin:0;
}

.packages .discount span {
	font-size: 24px;
	font-weight: lighter;
	letter-spacing: 0em;

}
.packages .discount h4 {
	font-size: 20px;
	font-weight: lighter;
	letter-spacing: 0em;
	color: #8DC644;
	margin-top: -8px;
	font-family: Arial, Helvetica, sans-serif;
}
.packages .discount  p {
	font-size: 13px;	
	color: #8DC644;
	font-family: HelveticaNeueLT-Com-57-Cn, sans-serif;
	margin-top: -12px;
}

.discount-box .btn, .discount-box-back .btn{
display: inline-block;
padding: 6px 12px;
margin-bottom: -2px;
font-size: 14px;
font-weight: 400;
line-height: 1.42857;
text-align: center;
white-space: nowrap;
vertical-align: middle;
cursor: pointer;
-moz-user-select: none;
}

.discount-box .btn-default, .discount-box-back .btn-default {
    border: medium none;
    font-weight: bold;
    border-radius: 10px;
    padding: 6px 22px;
	background-color: rgba(255, 255, 255, 0.24);
	color: white;
	position: relative;
top: 30px;
width: 80% !important;}


	
.extras {
margin-top: 20px;	
}
		
.discount-box-back .btn-default {
	top: 5px;	
}

	.discount-box-back {
	width: 178px;
	height: 260px;
	background-color: #6FA030;
	border-radius: 12px;
	display: inline-block;
	text-align: center;
	margin-bottom: 5px;
}
.discount-box-back h2 {
font-family: Arial, Helvetica, sans-serif;
font-size: 18px;
color: #FFFFFF;
line-height: 22px;	
font-weight: normal;
text-align: center;
padding-top: 7px;
}
	
	.discount-box-back li {
		display: inline;
	}
	
	.nav {
padding-left: 0px;
margin-bottom: 0px;
list-style: outside none none;
	}
	.facWraper {
    display: inline-block;
    margin-bottom: 0px;
    font-size: 12px;
    font-family: HelveticaNeueLT-Com-57-Cn, sans-serif;
}

.facWraper img {
	 width: 44px;
    height: 44px;
	border-radius: 50%;
	background-color: rgba(255, 255, 255, 0.2);
}
.facWraper p {
    margin-top: 5px;
    margin-bottom: 10px;
	color: white;
}
.extras {
margin-top: 20px;	
}
		
.discount-box-back .btn-default {
	top: 5px;	
}



/*new flip*/
/* entire container, keeps perspective */
.flip-container {
			-webkit-perspective: 1000;
			-moz-perspective: 1000;
			-ms-perspective: 1000;
			perspective: 1000;

			-ms-transform: perspective(1000px);
			-moz-transform: perspective(1000px);
    			-moz-transform-style: preserve-3d; 
    			-ms-transform-style: preserve-3d; 

}
	/* flip the pane when hovered */
.flip-container:hover .flipper, .flip-container.hover .flipper {
		transform: rotateY(180deg);
	}

.flip-container,  .front,  .back {
	width: 100%;
	min-height: 280px;
}

/* flip speed goes here */
 .flipper {
			-webkit-transition: 0.6s;
			-webkit-transform-style: preserve-3d;
			-ms-transition: 0.6s;

			-moz-transition: 0.6s;
			-moz-transform: perspective(1000px);
			-moz-transform-style: preserve-3d;
			-ms-transform-style: preserve-3d;

			transition: 0.6s;
			transform-style: preserve-3d;

			position: relative;

}

/* hide back of pane during swap */
.front, .back {
			-webkit-backface-visibility: hidden;
			-moz-backface-visibility: hidden;
			-ms-backface-visibility: hidden;
			backface-visibility: hidden;

		    -webkit-transition: 0.6s;
		    -webkit-transform-style: preserve-3d;
		    -webkit-transform: rotateY(0deg);

		    -moz-transition: 0.6s;
		    -moz-transform-style: preserve-3d;
		    -moz-transform: rotateY(0deg);

		    -o-transition: 0.6s;
		    -o-transform-style: preserve-3d;
		    -o-transform: rotateY(0deg);

		    -ms-transition: 0.6s;
		    -ms-transform-style: preserve-3d;
		    -ms-transform: rotateY(0deg);

		    transition: 0.6s;
		    transform-style: preserve-3d;
		    transform: rotateY(0deg);

			position: absolute;
			top: 0;
			left: 0;}

/* front pane, placed above back */
 .front {
			-webkit-transform: rotateY(0deg);
			-ms-transform: rotateY(0deg);
			z-index: 2;
}

/* back, initially hidden pane */
.back {
			-webkit-transform: rotateY(-180deg);
		    -moz-transform: rotateY(-180deg);
		    -o-transform: rotateY(-180deg);
		    -ms-transform: rotateY(-180deg);
		    transform: rotateY(-180deg);

}

.flip-container {
float: left;
margin-bottom: 5px;

}

.flip-container.last {
	margin-right: 0px !important;	
}

.card.last{
margin-right: 0px !important;	
}
	
	/*general info opening awards*/
	
	.awards {
		img {
			border-radius: 12px;
			border: 1px solid $light-color-gray;
		}
			.owl-carousel .owl-item {
		text-align: center;	
		}
		.row {
			width: 100%;
			margin: 0 auto;
		}
			.row.row-margin{
			margin-bottom: 20px;
		}
		.owl-theme .owl-controls .owl-nav {
		display: none;
		}
		h3 {
		font-size: 18px;
		margin-top: 0px;	
		font-weight: normal;
		margin-bottom: 25px;
		}
	}
	
	/*general info opening awards*/
	.news, .reviews, .location {
		
		h3 {
			font-size: 18px;
			color: $color-primary;
			font-size: 18px;			
			@media (min-width: 992px) {
			margin-top: 0px;
		}

		}
		
	}
	
	.location h3{
		margin-top: 30px;
	}
	
	/*general info opening reviews*/
	
	.box-bouble-outline {
		background-color: transparent;
		border: solid 2px $color-primary;
	}
	
	.margin-bottom {
	margin-bottom: 30px	
	}
.margin-bottom:last-child {
	margin-bottom:0	
	}
	
	.box-bouble-outline:before {
	position: relative;
	background-image: url(../images/aventura-triangle-green@2x.png);
	background-size: 18px 10px;
	background-position: center 0;	
	opacity: 1;
	z-index: 3;
	margin-bottom: 30px;
	}
	
	.reviews {
	h3, small {
		text-align: center;	
	}
	small {
	display: block;	
	margin-bottom: 20px;
	font-size: 14px;
	color: $light-color-gray;
	font-weight: bold;
	}
	h3 {
	margin-bottom: 4px;	
	}
	p {
	margin-bottom: 0px;	
	}
	.fa-user {
		font-size: 28px;
		text-align: center;
		color: $color-white;
		margin: 0 auto;
		display: block;
		margin-bottom: 10px;
	}
	i {
		width: 40px;
		height: 40px;
		background-color: $color-primary;
		border-radius: 120px;	
		line-height: 1.3;
}
	}
	
	/*rooms and apps opening*/
	.box {
	min-height: 424px;	
	border-radius: 12px;
	margin-bottom: 10px;
		}
	.general-info{
	background-color: $color-primary;	
	}

	.africa-room{
	background-color: $color-africa !important;	
	background-image: url(../images/aventura-africa-room-bg.svg);
	background-position: left bottom;
	background-repeat: repeat-x;
	margin-top: 15px;
	}
	.india-room{
	background-color: $color-india;	
	background-image: url(../images/aventura-india-room-bg.svg), url(../images/aventura-india-room-bg-2.svg);
	background-position: left bottom, 15px center;
	background-repeat: repeat-x, no-repeat;
	}
.space-room{
	background-color: $color-space;	
	background-image: url(../images/aventura-space-room-bg.svg), url(../images/aventura-space-room-bg-2.svg);
	background-position: left bottom, 30px 20px;
	background-repeat: repeat-x, no-repeat;

	}
.japan-room{
	background-color: $color-japan;	
	}
.rouge-ap{
	background-color: $color-rouge;	
	}
.art-retro-ap{
	background-color: $color-artRetro;	
	}
.family-ap{
	background-color: $color-family;	
	}
.logo {
	width: 150px;
	height: 150px;
	background-color: #fff;
	margin-top: -75px;
	position:relative;
	text-align: center;
	border-radius: 80px;
	z-index: 5;
	background-size: 1184px 149px;

	
	.price {
	padding-top: 88px;	
	}
	h4 {
		margin-top: -5px;
		font-size: 29px;
		font-weight: bold;
	}
	.euro {
		font-size: 15px;
		font-weight: lighter;
	}
	.small {
		margin: 0px;
		padding: 0px;
	}
}
.logo.africaLogo h4 {
	color: $color-africa;
}
.logo.indiaLogo h4 {
	color: $color-india;
}
.logo.spaceLogo h4 {
	color: $color-space;
}
.logo.japanLogo h4 {
	color: $color-japan;
}
.logo.rougeLogo h4 {
	color: $color-rouge;
}
.logo.artLogo h4 {
	color: $color-artRetro;
}
.logo.retroLogo h4 {
	color: $color-artRetro;
}
.logo.familyLogo h4 {
	color: $color-family;
}

.logo.africaLogo {
	background-image: url(../images/aventura-rooms-aps-logos-sprite.svg);
	background-position: 0px center; 
}
.logo.indiaLogo {
	background-image: url(../images/aventura-rooms-aps-logos-sprite.svg)	;
	background-position: -147px center;  
}
.logo.spaceLogo {
	background-image: url(../images/aventura-rooms-aps-logos-sprite.svg);
	background-position: -443px center; 	 
}
.logo.japanLogo {
	background-image: url(../images/aventura-rooms-aps-logos-sprite.svg);	
	background-position: -295px center;  
}
.logo.rougeLogo {
	background-image: url(../images/aventura-rooms-aps-logos-sprite.svg);
	background-position: -591px center;	 
}
.logo.artLogo {
	background-image: url(../images/aventura-rooms-aps-logos-sprite.svg);
	background-position: -887px center;	 	 
}
.logo.retroLogo {
	background-image: url(../images/aventura-rooms-aps-logos-sprite.svg);	
	background-position: -739px center;	  
}
.logo.familyLogo {
	background-image: url(../images/aventura-rooms-aps-logos-sprite.svg);	
	background-position: -1035px center; 
}

.room-ap-row, .room-ap-row-wide  {
display: table !important;
width: 100%;
margin: 0;
ul li {
	min-height: 35px;
	font-size: 20px;
	color: $color-white;
	line-height: 1.5;
	margin-bottom: 10px;
	display: inline-block;
}
ul li span{
	font-size: 12px;
	color: $color-white;
	line-height: 80%;
}
.icon {
	width: 30px;
	height: 30px;
	border: 2px solid $color-white;
	border-radius: 80px;
	text-align: center;
	float: left;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 10px;
}
ul li img {
}
.nav-pills {
	margin-bottom: 5px;
	margin-top: 15px;
	text-align: center;
	li {
		float: none;
	}
}
}

.box .media-left {
padding-right: 0;	
}

.box .btn {
	font-size: 18px;
	padding: 8px 27px;
	border-radius: 12px;
	width: 48%;
	margin-bottom: 10px;

}

.box .btn-default  {
    border: none;
	font-weight: bold;
}
.box .btn-details {
border: 2px solid $color-white;
background-color: transparent;	
color: $color-white !important;
padding: 6px 25px;
margin-right: 5px;
}
.africa-room .btn-default {
	color: $color-africa;
}
.india-room .btn-default {
	color: $color-india;
}
.space-room .btn-default {
	color: $color-space;
}
.japan-room .btn-default {
	color: $color-japan;
}
.rouge-ap .btn-default {
	color: $color-rouge;
}
.art-retro-ap .btn-default {
	color: $color-artRetro;
}
.family-ap .btn-default {
	color: $color-family;
}
.padding-xs {
	padding-right: 15px;
	padding-left: 15px;
}


@media (max-width: 767px) {
}




@media (min-width: 0) {
  .navbar-toggle {
    display: block; /* force showing the toggle */
  }
}

@media (min-width: 992px) {
	
	.award-top {
	position: absolute;
	top: 30px;
	right: 79px;
	z-index: 9999;
	background-color: white;
	border-radius: 120px;
	width: 145px;
	height: 145px;
	line-height: 10;
	text-align: center;
	img {
	width: 135px;
	height: 135px;

	}
}
	
	/*general info opening awards*/
 .awards .owl-theme .owl-controls .owl-dots, .news .owl-theme .owl-controls .owl-dots, .reviews .owl-theme .owl-controls .owl-dots {
		display: none !important;	
		}
		
	 .awards, .news, .reviews {
	.owl-theme .owl-controls .owl-nav .owl-prev {
		left: -35px;
		background-image: url(../images/aventura-carusel-arrow-left.svg);

	}
	.owl-theme .owl-controls .owl-nav .owl-next {
		right: -35px;
		background-image: url(../images/aventura-carusel-arrow-right.svg);
	}
	.owl-theme .owl-controls .owl-nav .owl-next, .owl-theme .owl-controls .owl-nav .owl-prev {
		width: 22px;
		height: 22px;
		border-radius: 80px;
		top: 25px;
		position: absolute;
		text-indent: -40000px;
		background-position: center center;
		background-repeat: no-repeat;
	}
		.row {
			width: 93%;
			margin: 0 auto;
		}
		.owl-theme .owl-controls .owl-nav {
		display: block;
		}
	 }
		
		/*general info opening news*/
		.news, .reviews {
		.owl-theme .owl-controls .owl-nav .owl-prev {
		right: 35px !important;
		left: auto;
		background-image: url(../images/aventura-carusel-arrow-left.svg);
	}	
		.owl-theme .owl-controls .owl-nav .owl-next {
		right: 10px;
		background-image: url(../images/aventura-carusel-arrow-right.svg);
	}

		.row {
			width: auto;
			margin: auto;
			margin-left: -15px;
			margin-right: -15px;		
}
	.owl-theme .owl-controls .owl-nav .owl-next, .owl-theme .owl-controls .owl-nav .owl-prev {
		top: 0px;
		margin: 0px;
	}
		}
		
	.facilities 	.nav li {
	width: 16.6%;
	justify-content: center;
	}
		
		.padding-right-zero {
	padding-right:0px;
	padding-left: 15px;
}
.padding-xs {
	padding-right: 0px;
	padding-left: 0px;
}
		
		/*rooms and apps opening*/
		
	
		
	.box {
	min-height:350px;	
	border-radius: 12px;
	margin-bottom: 10px;
		}

	.logo {
	width: 230px;
	height: 230px;
	background-color: #fff;
	top: 60px;
	left:-115px;
	position:absolute;
	text-align: center;
	border-radius: 180px;
	z-index: 5;
	background-size: 1835px 231px;
	margin-top: 0px;

	.price {
	padding-top: 140px;	
	}
	h4 {
		margin-top: 0px;
		font-size: 43px;
		font-weight: bold;
	}
	.euro {
		font-size: 15px;
		font-weight: lighter;
	}
	.small {
		margin: 0px;
		padding: 0px;
	}
}

.logo.africaLogo {
	background-image: url(../images/aventura-rooms-aps-logos-sprite.svg);
	background-position: 0px center; 
}
.logo.indiaLogo {
	background-image: url(../images/aventura-rooms-aps-logos-sprite.svg);
	background-position: -229px center;  
}
.logo.spaceLogo {
	background-image: url(../images/aventura-rooms-aps-logos-sprite.svg);
	background-position: -688px center; 	 
}
.logo.japanLogo {
	background-image: url(../images/aventura-rooms-aps-logos-sprite.svg);	
	background-position: -459px center;  
}
.logo.rougeLogo {
	background-image: url(../images/aventura-rooms-aps-logos-sprite.svg);
	background-position: -917px center;	 
}
.logo.artLogo {
	background-image: url(../images/aventura-rooms-aps-logos-sprite.svg);
	background-position: -1376px center;	 	 
}
.logo.retroLogo {
	background-image: url(../images/aventura-rooms-aps-logos-sprite.svg);	
	background-position: -1147px center;	  
}
.logo.familyLogo {
	background-image: url(../images/aventura-rooms-aps-logos-sprite.svg);	
	background-position: -1606px center; 
}
		
.room-ap-row {
display: table !important;
height: 350px;
ul li {
	min-height: 47px;
	font-size: 20px;
	color: $color-white;
	line-height: 100%;
	margin-bottom: 10px;
}
ul li span{
	font-size: 14px;
	color: $color-white;
}
ul li:first-child {
	width: 177px;
	margin-right: 0px;
}
ul li:last-child {
	width: 137px;
}
.icon {
	width: 47px;
	height: 47px;
	border: 2px solid $color-white;
	border-radius: 80px;
	text-align: center;
	float: left;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 13px;
}
ul li img {
}
.nav-pills {
	margin-bottom: 10px;
	text-align: left;
}
}
.room-ap-row-wide {
display: table !important;
height: 350px;
margin: 0;
ul li {
	min-height: 47px;
	font-size: 20px;
	color: $color-white;
	line-height: 100%;
	margin-bottom: 10px;
}
ul li span{
	font-size: 14px;
	color: $color-white;
}
.icon {
	width: 47px;
	height: 47px;
	border: 2px solid $color-white;
	border-radius: 80px;
	text-align: center;
	float: left;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 13px;
}
ul li img {
}
.nav-pills {
	margin-bottom: 10px;
	text-align: left;
}
}

.box .btn {
	font-size: 18px;
	padding: 8px 27px;
	border-radius: 12px;
	width: 150px;
	margin-bottom: 10px;

}

.box .btn-default  {
    border: none;
	font-weight: bold;
}
.box .btn-details {
border: 2px solid $color-white;
background-color: transparent;	
color: $color-white !important;
padding: 6px 25px;
margin-right: 10px;
}
	
	/* main-bar */
	.main-bar{
		background-color: $color-primary;
//		-moz-border-radius-bottomright: 12px;
//		-webkit-border-bottom-right-radius: 12px;
//		border-bottom-right-radius: 12px;
//		-moz-border-radius-bottomleft: 12px;
//		-webkit-border-bottom-left-radius: 12px;
//		border-bottom-left-radius: 12px;
		border-radius:12px;
		width: 262px;
		height: 390px;
		position: fixed;
		display: block;
		top:16px ;
		left:79px;
		z-index: 999999;
		.padding {
			padding: 0 21px 21px 21px;
		}
		.aventura-brand {
		background-color: $color-white;	
		min-height: 240px;
		border-radius: 8px;
		margin-top: 5px;
		text-align: center;
		padding: 12px 0 ;
		}
			.aventura-tube {
				position: absolute;
				left: 6px;
				margin-top: 7px;
			}
	}
	
	.navbar-fixed-top {
		 top: 330px;
    border-width: 0 0 1px;
    width: 220px;
    left: 100px;
    z-index: 99999999;
}

.navbar-fixed-top-moving {

}
.navbar-fixed-top-test {
		 top: 327px !important;
		 		-moz-transition: all .3s  ease;
	-o-transition: all .3s  ease ;
	-webkit-transition: all .3s  ease;
	transition: all .3s ease;
	 left: 100px;


}
.navbar-fixed-top-test-a {
	 top: 109px !important;
		     left: 100px;
}

.navbar-default {
    background-color: transparent;
    border: none;
}
.navbar-toggle {
	border: none;
	border-radius: 7px;
	width: 90px;
	height: 40px;
	background-color: white;	
	margin-top: 0;
	margin-left: 0px;
	float: left !important;
	p {
	float: right;
	margin-top: -21px;	
	font-size: 18px;
	color: $color-primary;
	font-weight:bold;
	
	}
	.icon-bar {
		background-color: $color-primary !important;
		margin-top: 5px;
		width: 16px;
	}
}
	.navbar-nav {
    margin: 0 -10px;
}
	
	.navbarIcons {
	height: 40px;
	
	li {
		background-repeat:no-repeat !important;
		width: 28px;
		margin-right: 5px;
		background-size: 131px 34px;
		height: 40px;
	}
	
	li.phone {
		background:url(../images/aventura-mobil-nav-icons-sprite.svg);
		background-position: -8px center; 	
	}
	li.skype {
		background:url(../images/aventura-mobil-nav-icons-sprite.svg);
		background-position: -48px center; 	
	}
	li.email {
		background:url(../images/aventura-mobil-nav-icons-sprite.svg);
		margin-right: 2px;
		background-position: -90px center; 	
	}
	li.google {
		background:url(../images/aventura-mobil-nav-icons-sprite.svg);
		background-position: -133px center; 	
	}
	li:last-child {
	margin-right: 4px;	
	}
}

	.navbar-nav > li > a {
    padding-top:0px;
    padding-bottom: 10px;
	text-indent: -300000px !important;
}
}

@media (max-width: 991px) {
	

}



@media (min-width: 500px) and  (max-width: 991px){
	.facilities 	.nav li {
	width: 33%;
	justify-content: center;
	}
}

@media (max-width: 767px) {
	

}

@media (min-width: 768px) {
	/*.room-ap-row {
		ul li {
			text-align: left;
			margin-bottom: 20px;
		}
ul li:first-child {
	width: 150px;
	margin-right: 10px;
}
ul li:last-child {
	width: 130px;
}

}*/
}




@media (min-width: 1200px) {

.room-ap-row {
	margin-left: -60px;
}
.box-room-wide .room-ap-row  {
	margin-left: auto;
}

}

@media (min-width: 992px) and  (max-width: 1199px)  {
	.room-ap-row  {
    margin-left: 20px;
}
}